{#
/**
 * @file
 * Default template for a 'ilr_neutral' content item.
 *
 * Available variables:
 *   - content: An array of fields.
 *   - Display: Display of the content being rendered. For example, "teaser" or "full".
 *
 * @ingroup themeable
 */
#}
<div class="neutral">
  <h1>{{ content.title }}</h1>
</div>
