{#
/**
 * @file
 * Theme override to display a media item.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('cu-media') }}>
{% if content %}
  {{ content }}
  {% if media %}
  {{ drupal_field('field_attribution', 'media', media.id) }}
  {% endif %}
{% endif %}
</div>
