{#
/**
 * @file
 * Default theme implementation to display an oEmbed resource in an iframe.
 *
 * @ingroup themeable
 */
#}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Embedded Media</title>
    <css-placeholder token="{{ placeholder_token }}">
  </head>
  <body style="margin: 0">
    <h1>Embedded Media</h1>
    {{ media|raw }}
  </body>
</html>
