{#
 * Theme override of persona teasers.
 *
 * Available variables:
 * - persona: The persona entity with limited access to object properties and methods.
 * - view_mode: View mode; for example, "teaser" or "default".
 * - label: The display name of the persona.
 * - content: A list of content items. Use 'content' to print all content, or
 *          content.field_name to access public fields
 * - attributes: HTML attributes for the container element.
 * - url: Direct URL of the current node.
 */
#}
{% set rendered_content %}
  {{ content.field_bio }}
{% endset %}

{% set additional_info %}
  {{ content|without('display_name', 'field_title', 'field_photo', 'field_bio', 'extra_field_ilr_employee_positions') }}
{% endset %}

{% set title = [] %}
{% if content.field_title %}
{% for key, item in content.field_title|filter((v, k) => k|first != '#') %}
  {% set title = title|merge([item]) %}
{% endfor %}
{% endif %}

{%- if content.extra_field_ilr_employee_positions %}
{% for key, item in content.extra_field_ilr_employee_positions|filter((v, k) => k|first != '#') %}
{% if item['#ilr_employee_position'].primary.value %}
  {% set title = title|merge([item['#ilr_employee_position'].title.value]) %}
{% endif %}
{% endfor %}
{% endif -%}

<div{{ attributes }}>
{% include "@union/_person.twig" with {
  attributes: {class: ['cu-person--thumb']},
  name: label,
  title: title,
  additional_info: additional_info,
  content: rendered_content,
  img: content.field_photo
} only %}
{{ title_suffix }}
</div>
