# Copy and rename this file to .env at root of this project.

# Uncomment and edit/populate as needed.
# MYSQL_DATABASE=
# MYSQL_HOSTNAME=
# MYSQL_PASSWORD=
# MYSQL_PORT=
# MYSQL_USER=

# Uncomment and edit/populate for the Drupal 7 migration source database.
# MYSQL_MIGRATE_DATABASE=
# MYSQL_MIGRATE_HOSTNAME=
# MYSQL_MIGRATE_PASSWORD=
# MYSQL_MIGRATE_PORT=
# MYSQL_MIGRATE_USER=

# Set Drush's --uri via environment.
# DRUSH_OPTIONS_URI=http://example.com

# Set to 1 to ignore drush policies.
DRUSH_POLICY_IGNORE=0

# Set to '1' to enable livereload for theme development.
LIVERELOAD=0

# Salesforce settings. Uncomment and populate as needed. X509 key can be multiline as long as it's quoted.
# SALESFORCE_CONSUMER_JWT_X509_KEY=""

# Migration file sources location override.
# Note that the files in this directory should be located in
# `./sites/default/files/`.
# MIGRATE_MEDIA_SOURCE_BASE_PATH_OVERRIDE=/Users/name/work/ilr/d7_files

# Set the registration system url for registration links
# REGISTRATION_SYSTEM_URL=https://registration.ilr.cornell.edu/class/

# Set the SAML Auth private key. This value can be multiline as long as it's quoted.
# SAMLAUTH_SP_PRIVATE_KEY=""

# MailChimp API key and webhook hash.
# MAILCHIMP_API_KEY=xxxxxxx-us12
# MAILCHIMP_WEBHOOK_HASH=xxxx

# CollegeNET SFTP server credentials.
# COLLEGENET_SFTP_USER=
# COLLEGENET_SFTP_PASSWORD=
