# Copy and rename this file to .env at root of this project.

# Uncomment and edit/populate as needed.
# MYSQL_DATABASE=
# MYSQL_HOSTNAME=
# MYSQL_PASSWORD=
# MYSQL_PORT=
# MYSQL_USER=

# Set Drush's --uri via environment.
# DRUSH_OPTIONS_URI=http://example.com
