[submodule "web/libraries/union"]
	path = web/libraries/union
	url = git@github.com:ilrWebServices/union.git
[submodule "web/modules/contrib/union_organizer"]
	path = web/modules/contrib/union_organizer
	url = git@github.com:ilrWebServices/union_organizer.git
