<div itemscope itemtype="https://schema.org/EducationalOccupationalCredential" class="award">
  <span itemprop="name" class="award__name">{{ name|trim }}</span>,

  {% if publisher.getProperty('name') %}
    <span class="award__organization">{{ publisher.getProperty('name') }}</span>.
  {% endif -%}

  <span itemprop="datePublished" class="award__year">{{ datePublished|date('Y') }}</span>
</div>
