webform-reveal[data-collapsed="1"] {
  .form-item:not(.webform-actions),
  .fieldgroup {
    display: none;
  }
}

webform-reveal[data-collapsed="1"] > .webform-submission-form {
  align-items: end;
  justify-items: end;
}
