/* Zoom-out effect */
.ilr-effect-image.zoom-out .cu-image {
  transform: scale(1.1, 1.1);
  transition: transform 1.5s ease-in-out;

  @media (prefers-reduced-motion: reduce) {
    transform: scale(1, 1);
  }
}

.ilr-effect-image.zoom-out.js--in-frame .cu-image {
  transform: scale(1, 1);
}

/* Curtain reveal effect */
.ilr-effect-image.curtain-reveal {
  position: relative;
}

.ilr-effect-image.curtain-reveal.js-observed .cu-image {
  opacity: 0;
}

/* Ensure the height is the entire viewport on smaller screens */
@media only screen and (max-width: 64rem) {
  .ilr-effect-image.curtain-reveal.js-observed .cu-image {
    min-height: 100vh;
  }
}

.ilr-effect-image.curtain-reveal.js-observed {
  z-index: -1; /* Fix for Safari bug */
}

.ilr-effect-image.curtain-reveal.js-observed::before {
  content: '';
  display: block;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: -1;
  background-image: none;
  background-size: cover;
  background-position: center;
}

.ilr-effect-image.curtain-reveal.js--in-frame::before {
  background-image: var(--ilr-effects-img);
}

/* Covers */
.ilr-effect-image.curtain-reveal.js-observed::after,
.js-image-cover {
  content: '';
  display: block;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: white;
  z-index: 1;
}

.ilr-effect-image.curtain-reveal.js-observed::after {
  top: -100vh;
}

.ilr-effect-image.curtain-reveal.js-observed .media__caption {
  position: relative;
  z-index: 2;
}

.ilr-effect-image.curtain-reveal.js-observed .media__caption::before
  {
  content: '';
  display: block;
  width: 100vw;
  height: 120vh;
  position: absolute;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  margin-top: -0.5em;
  background: white;
  z-index: -1;
}

/* tmp */
.paragraph--type--rich-text {
  background: white;
  position: relative;
}
