@supports (transition: opacity 1s, transform .6s ease-out) {
  .shout.js-observed {
    opacity: 0;
    transform: translateX(10%);
  }

  .shout.js--in-frame {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 1s, transform .6s ease-out;
  }

  @media (prefers-reduced-motion: reduce) {
    .shout {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
