body {
  margin: 0 auto;
}

.layout-container {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  display: grid;
  grid-row-gap: 1em;
  grid-column-gap: 0;
  grid-template-rows: [header] auto [body] auto [content-bottom] auto [footer] auto;
  grid-template-columns: [left-gutter] 1fr [content] 22fr [right-gutter] 1fr;

  @include medium {
    justify-items: stretch;
    grid-template-columns: [left-gutter] 1fr [content] 44fr [right-gutter] 1fr;
  }

  &--sidebar-right {
    @include medium {
      grid-column-gap: 2rem;
      grid-template-columns: [left-gutter] 2fr [content] 9fr [sidebar] 3fr [right-gutter] 2fr;
      justify-items: stretch;
    }
  }
}

.layout__region--first,
.layout__region--second {
  display: grid;
  grid-gap: var(--cu-vr2) var(--cu-grid-column-gap);

  .cu-section--gapless & {
    grid-gap: 0;
  }
}


header {
  grid-row: header;
  grid-column: content;
}

main {
  grid-row: body;
  grid-column: content;
}

aside.layout-sidebar-first {
  grid-row: content-bottom;
  grid-column: content;

  @include medium {
    grid-row: body;
    grid-column: sidebar;
  }
}

footer {
  grid-row: footer;
  grid-column: content;
}

hr.pad {
  border: none;
  margin: 2em 0 0;
}
