.cu-grid--featured {
  @include breakpoint(sm) {
    grid-template-columns: repeat(4, 1fr);

    .cu-card--featured {
      grid-column: 1/3;
      grid-row: 1/3;
    }
  }
}

.cu-grid .pager {
  grid-column: 1/-1;
}

.cu-grid .pager__items {
  margin: 0;
}
