.cu-grid.cu-grid--featured:not(.cu-component--people-listing) {
  @include breakpoint(sm) {
    grid-template-columns: 1fr 1fr;

    .cu-card--featured {
      .field-representative-image .cu-image {
        aspect-ratio: 3 / 2;
      }
    }
  }

  @include breakpoint(md) {
    --cu-grid-row-gap: var(--cu-vr1);
    // The custom property allows us set the number of rows from the CMS via
    // inline style, if necessary.
    grid-template-rows: repeat(var(--featured-grid-rows, 3), auto);

    .cu-card:first-child {
      // This works because we set the number of rows explicitly.
      grid-row: 1 / -1;
      justify-content: space-between;

      .cu-card__media {
        flex-grow: 2;

        .cu-image {
          height: 100%;
        }
      }

      .cu-card__content {
        height: auto;
      }
    }

    .cu-card:not(:first-child) {
      @extend .landscape-brick;
    }
  }
}

.cu-grid .pager {
  grid-column: 1/-1;
}

.cu-grid .pager__items {
  margin: 0;
}

// Override 3col grid breakpoints. With the content padding, narrower widths
// don't work as well.
.cu-grid--3col {
  @include breakpoint(sm) {
    grid-template-columns: 1fr 1fr;
  }

  @include breakpoint(md) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@include breakpoint(md) {
  .landscape-brick {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--cu-ps0);

    .cu-card__content {
      padding: var(--cu-vr0) var(--cu-vr0) var(--cu-vr0) 0;
    }

    .cu-card__media {
      margin-bottom: 0;
      position: relative;

      .cu-image {
        aspect-ratio: 1 / 1;
        width: 100%;
        height: 100%;
      }
    }
  }

  .cu-grid.cu-list--grid-bricks,
  .cu-grid.cu-list--grid-bricks--reversed {
    grid-template-columns: repeat(6, 1fr);
    gap: var(--cu-vr1);

    .cu-card {
      grid-column: span 2;
    }
  }

  // Every 4th and 5th item (groups of 5).
  .cu-grid.cu-list--grid-bricks {
    .cu-card:nth-child(5n + 4),
    .cu-card:nth-child(5n) {
      @extend .landscape-brick;
      grid-column: span 3;
    }
  }

  // Every 1st and 2nd item (groups of 5).
  .cu-grid.cu-list--grid-bricks--reversed {
    .cu-card:nth-child(5n - 4),
    .cu-card:nth-child(5n - 3) {
      @extend .landscape-brick;
      grid-column: span 3;
    }
  }
}
