.cu-grid.cu-list--grid-featured:not(.cu-component--people-listing),
.cu-grid.cu-list--grid-featured--wide {
  .cu-card:not(:first-child) .field--body {
    display: none;
  }

  .cu-card:not(:first-child) .cu-composite-heading__heading {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }

  .cu-card {
    .field-representative-image .cu-image {
      aspect-ratio: 2 / 1.125;
    }
  }

  .cu-card:first-child {
    grid-column: 1 / -1;
  }

  @include breakpoint(sm) {
    grid-template-columns: 1fr 1fr;
    --cu-grid-row-gap: var(--cu-vr0);
  }

  @include breakpoint(md) {
    grid-template-rows: repeat(2, auto);
  }
}

.cu-grid.cu-list--grid-featured:not(.cu-component--people-listing) {
  @include breakpoint(md) {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-columns: 2.1fr 1fr 1fr;

    &:has(> :last-child:nth-child(4)) { /* 4 elements */
      // grid-template-rows: repeat(3, auto);
      grid-template-columns: 3fr 1fr 1fr;
      grid-template-columns: 3.3fr 1fr 1fr;

      .cu-card:is(:nth-child(2)) {
        grid-column: 2 / -1;
      }
    }

    &:has(> :last-child:nth-child(3)) { /* 3 elements */
      grid-template-columns: 2fr 1fr;
    }

    .cu-card:first-child {
      grid-row: 1 / -1;
      grid-column: unset;
    }
  }
}

.cu-grid.cu-list--grid-featured--wide {
  @include breakpoint(md) {
    grid-template-columns: 1fr 1fr 1fr 1fr;

    // https://stackoverflow.com/a/74016670
    &:has(> :last-child:nth-child(4)) { /* 4 elements */
      grid-template-columns: 1fr 1fr 1fr;
    }

    &:has(> :last-child:nth-child(3)) { /* 3 elements */
      grid-template-columns: 1fr 1fr;
    }
  }

  .cu-card:first-child {
    @include breakpoint(md) {
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: var(--cu-ps1);

      .cu-card__content {
        padding: var(--cu-ps1) var(--cu-vr1) var(--cu-vr1) 0;
      }

      .cu-card__media {
        margin-bottom: 0;
        position: relative;
      }
    }
  }
}

.cu-grid .pager {
  grid-column: 1/-1;
}

.cu-grid .pager__items {
  margin: 0;
}

// Override 3col grid breakpoints. With the content padding, narrower widths
// don't work as well.
.cu-grid--3col {
  @include breakpoint(sm) {
    grid-template-columns: 1fr 1fr;
  }

  @include breakpoint(md) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@include breakpoint(md) {
  .landscape-brick {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--cu-ps0);

    .cu-card__content {
      padding: var(--cu-vr0) var(--cu-vr0) var(--cu-vr0) 0;
    }

    .cu-card__media {
      margin-bottom: 0;
      position: relative;

      .cu-image {
        aspect-ratio: 1 / 1;
        width: 100%;
        height: 100%;
      }
    }
  }

  .cu-grid.cu-list--grid-bricks,
  .cu-grid.cu-list--grid-bricks--reversed {
    grid-template-columns: repeat(6, 1fr);
    gap: var(--cu-vr1);

    .cu-card {
      grid-column: span 2;
    }
  }

  // Every 4th and 5th item (groups of 5).
  .cu-grid.cu-list--grid-bricks {
    .cu-card:nth-child(5n + 4),
    .cu-card:nth-child(5n) {
      @extend .landscape-brick;
      grid-column: span 3;
    }
  }

  // Every 1st and 2nd item (groups of 5).
  .cu-grid.cu-list--grid-bricks--reversed {
    .cu-card:nth-child(5n - 4),
    .cu-card:nth-child(5n - 3) {
      @extend .landscape-brick;
      grid-column: span 3;
    }
  }
}
