.cu-component.cu-component--accordion {
  margin-top: var(--cu-vr0);
  margin-bottom: var(--cu-vr0);
}

.paragraph--type--rich-text.paragraph--view-mode--expanded {
  padding: var(--cu-vr0) 2.25rem;
  margin: 1em;
  border: 1px solid var(--cu-color-gray);

  &[open] summary .cu-heading {
    margin-bottom: var(--cu-vr0);
  }

  summary {
    margin-left: calc(1.25rem * -1);
    cursor: pointer;
  }

  summary::marker {
    color: var(--cu-color-brand);
  }

  summary .cu-heading {
    display: inline-block;
    margin: 0;
    --cu-font-size: var(--cu-ms0);
  }
}

.cu-component--rich-text:has(+ .cu-component--accordion) {
  margin-bottom: var(--cu-vr0);
}

.cu-component--accordion + .cu-component--rich-text {
  margin-top: var(--cu-vr0);
}
