.cornell-seal .cu-image {
  width: 76px; // Per branding guidelines
}

.collection--publication-issue .cornell-seal .cu-image {
  min-width: 8vw;
}

#block-union-marketing-cornell-seal,
#block-union-marketing-cornell-seal + #ilr_search_reveal_trigger {
  align-self: flex-start;
}


