.bvg--cornell-alternate-branding .cu-header {
  flex-wrap: wrap;
  border: none;
  padding-top: 0;

  @include breakpoint(sm) {
    padding-top: var(--cu-vr1);
  }

  // Position the logo at the start, which should be adjacent to the minibar.
  .cornell-minibar + .block {
    margin-right: auto;
  }

  #ilr_search_reveal_trigger {
    position: absolute;
    color: white;
    top: 0.5em;
    right: 1em;

    @include breakpoint(sm) {
      position: relative;
      color: #222;
      top: auto;
      right: auto;
      align-self: flex-start;
    }
  }
}

.cornell-seal .cu-image {
  width: 76px; // Per branding guidelines
}

.collection--publication-issue .cornell-seal .cu-image {
  min-width: 8vw;
}

#block-union-marketing-cornell-seal {
  display: none;


  @include breakpoint(sm) {
    display: block;
    align-self: flex-start;
  }
}

#block-union-marketing-branding-75,
#block-union-marketing-scheinman-institite-logo,
#block-union-marketing-worker-institite-logo {
  max-width: 450px;
  min-width: 300px;

  svg {
    margin-right: var(--cu-ps2);
    min-width: 280px;

    @include breakpoint(md) {
      min-width: 300px;
    }
  }
}

#block-union-marketing-75thlogo {
  width: 225px;
}
