.cornell-seal .cu-image {
  width: 76px; // Per branding guidelines
}

.collection--publication-issue .cornell-seal .cu-image {
  min-width: 8vw;
}

#block-union-marketing-cornell-seal,
#block-union-marketing-cornell-seal + #ilr_search_reveal_trigger {
  align-self: flex-start;
}

#block-union-marketing-branding-75 {
  max-width: 450px;
  min-width: 300px;

  svg {
    margin-right: var(--cu-ps2);
    min-width: 280px;

    @include breakpoint(md) {
      min-width: 300px;
    }
  }
}
