// Custom changes to default breadcrumbs
.cu-breadcrumb__item {
  --cu-font-size: var(--cu-ms-4);
  text-transform: uppercase;
  opacity: 0.7;
  letter-spacing: 0.05em;
}

.cu-breadcrumb__item::before {
  line-height: 0.9;
  font-size: 1.4em;
  opacity: 0.6;
}

.cu-breadcrumb__list {
  --cu-breadcrumb-separator: '❯';
  --cu-breadcrumb-separator: '›';
}

.cu-breadcrumb__link {
  --cu-font-weight: 700;
}

.cu-breadcrumb__item:last-child {
  opacity: 1;
}

.cu-breadcrumb {
  margin-top: var(--cu-vr1);

  .bvg--cornell-alternate-branding & {
    margin-top: 0;

    @include breakpoint(md) {
      margin-top: var(--cu-vr1);
    }
  }
}
