// Custom changes to default breadcrumbs
.cu-breadcrumb__item {
  --cu-font-size: var(--cu-ms-4);
  text-transform: uppercase;
  opacity: 0.7;
  letter-spacing: 0.05em;
  display: block;
}

.cu-breadcrumb {
  max-width: calc(100vw - 40px);

  &:not(.breadcrumb-altered) {
    .cu-breadcrumb__item {
      &:nth-last-child(2) {
        opacity: 1;

        &::after {
          display: none;
        }

        @include breakpoint(sm) {
          opacity: 0.7;

          &::after {
            display: initial;
          }
        }
      }

      &:last-child {
        display: none;

        @include breakpoint(sm) {
          display: block;
        }
      }
    }
  }

  &.breadcrumb-altered {
    .cu-breadcrumb__item::before {
      display: none;
    }
  }
}

.cu-breadcrumb__item::before {
  line-height: 0.9;
  font-size: 1.4em;
  opacity: 0.6;
}

.cu-breadcrumb__list {
  --cu-breadcrumb-separator: '❯';
  --cu-breadcrumb-separator: '›';

  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;

  @include breakpoint(sm) {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.cu-breadcrumb__link {
  --cu-font-weight: 700;
}

.cu-breadcrumb__item:last-child {
  opacity: 1;
  font-weight: 700; // This provides parity with linked breadcrumb items.
}

.cu-breadcrumb {
  margin-top: var(--cu-vr1);

  .bvg--cornell-alternate-branding & {
    margin-top: 0;

    @include breakpoint(md) {
      margin-top: var(--cu-vr1);
    }
  }
}
