.cu-component--card-overlay {
  position: relative;
  background-color: transparent;

  > .cu-composite-heading {
    position: relative;
    margin: 0;
    padding: var(--cu-vr1) var(--cu-ps1) 100px;
    overflow: hidden;
    background-color: var(--cu-colorscheme-background, var(--cu-color-light-gray));

    > * {
      z-index: 2;
    }

    &:after {
      display: none;
    }

    @media (min-width: 1200px) {
      padding: 60px 140px 140px;
    }

    h2.cu-heading {
      --cu-font-family: 'futura-pt';
      text-transform: uppercase;

      @include breakpoint(md) {
        --cu-font-size: var(--cu-ms8);
      }
    }

    .cu-composite-heading__body {
      max-width: 80%;

      @include breakpoint(md) {
        max-width: 50%;
      }
    }

    .media-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: var(--cu-colorscheme-background);

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        mix-blend-mode: multiply;
        filter: grayscale(1);
        opacity: .2;
      }
    }
  }

  // Apply eyebrow styles to label
  .cu-icon__label {
    margin-top: 24px;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
  }

  .cu-card {
    --cu-colorscheme-accent: var(--cu-color-brand); // Force the accent color on all cards.
    display: flex;
    padding: var(--cu-vr2) var(--cu-ps2);
    flex-direction: column;
    align-items: center;
    flex: 1 0 0;

    @media (max-width: 1200px) {
      flex: 1 0 calc(50% - 32px);
      max-width: calc(50% - 32px);
    }

    @media (max-width: 992px) {
      flex: 1 0 100%;
      max-width: 100%;
    }

    .cu-heading {
      font-size: var(--cu-ms2);
    }

    .cu-component--card-overlay-item--card-body {
      --cu-font-size: var(--cu-ms-1);
    }

    &__content {
      align-items: center;
      text-align: center;

      .cu-composite-heading {
        gap: 20px;
        margin-bottom: 10px;
      }

      .cu-button {
        margin-top: 15px;
        margin-bottom: 0;
      }
    }
  }

  .cu-composite-heading {
    &:after {
      order: 2;
    }

    &__eyebrow-heading {
      opacity: 1;

      &__enlarge {
        font-size: 32px;
        text-align: center;
        font-style: normal;
        font-weight: 400;
        line-height: 38px;
        letter-spacing: 0.1px;

        @media (min-width: 1200px) {
          font-size: 50px;
          line-height: 62px;
        }
      }
    }
  }

  .field--field-components {
    position: relative;
    display: flex;
    gap: 20px;
    padding-inline: 30px;
    top: -75px;
    z-index: 2;

    @media (max-width: 1200px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &.cu-section--reveal-on-hover  {
    .cu-card {
      .cu-component--card-overlay-item--card-body {
        display: none;
      }
    }
  }
}

// Manually override colorschemes in specific dark/light combos.
.cu-component--card-overlay.cu-colorscheme--dark,
.cu-section.cu-colorscheme--dark .cu-component--card-overlay {
  .media-wrapper img {
    opacity: 1;
  }
   .cu-card {
      background-color: var(--cu-color-light-gray);
      --cu-text-color: var(--cu-color-dark);

      .cu-button {
        color: var(--cu-color-dark);
      }
   }
}
