.cu-component--card-overlay {
  position: relative;
  background-color: transparent;

  > .cu-composite-heading {
    position: relative;
    margin: 0 calc(var(--gutter-width) * -1);
    padding: var(--cu-vr1) var(--cu-ps1) 100px;
    background-color: var(--cu-colorscheme-background, var(--cu-color-light-gray));

    &:after {
      display: none;
    }

    @include breakpoint(md) {
      padding: var(--cu-vr3) var(--cu-ps3) 140px;
      margin: 0 calc((1360px - 1130px) / 2 * -1);

      .cu-section--wide & {
        margin: 0;
      }
    }

    h1.cu-heading,
    h2.cu-heading {
      --cu-font-family: 'futura-pt';
      text-transform: uppercase;
      z-index: 2;

      @include breakpoint(md) {
        --cu-font-size: var(--cu-ms8);
        max-width: 60%;
      }
    }

    .cu-heading,
    .cu-icon {
      z-index: 2;
    }

    .cu-composite-heading__body {
      max-width: 80%;
      display: flex;
      flex-direction: column;
      gap: var(--cu-vr0);
      align-items: center;

      * {
        position: relative;
        z-index: 2;
      }

      @include breakpoint(md) {
        max-width: 50%;
      }
    }

    .media-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: var(--cu-colorscheme-background);

      img {
        --cu-media-brightness-default: .3;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        mix-blend-mode: overlay;
        filter: grayscale(1);
        opacity: calc(var(--cu-media-brightness-adjustment, 0) + var(--cu-media-brightness-default));
      }
    }
  }

  // Apply eyebrow styles to label
  .cu-icon__label {
    margin-top: 24px;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
  }

  .cu-card {
    --cu-colorscheme-accent: var(--cu-color-brand); // Force the accent color on all cards.
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 0;
    padding: var(--cu-vr2) var(--cu-ps2);

    .layout-banner & {
      padding: var(--cu-vr3) var(--cu-ps3);
    }

    @media (max-width: 1200px) {
      flex: 1 0 calc(50% - 32px);
      max-width: calc(50% - 32px);
    }

    @media (max-width: 992px) {
      flex: 1 0 100%;
      max-width: 100%;
    }

    .cu-heading {
      font-size: var(--cu-ms3);
    }

    .cu-component--card-overlay-item--card-body {
      --cu-font-size: var(--cu-ms-1);
    }

    &__content {
      align-items: center;
      text-align: center;

      .cu-button {
        margin-top: 15px;
        margin-bottom: 0;

        &::after {
          content: "";
          position: absolute;
          inset: 0 0 0 0;
        }

        &:hover {
          background-color: var(--cu-color-brand);
        }
      }
    }
  }

  .cu-composite-heading {
    &:after {
      order: 2;
    }

    &__eyebrow-heading {
      opacity: 1;
    }
  }

  .field--field-components {
    --cu-max-width-section: 1130px;
    position: relative;
    display: flex;
    gap: 32px;
    top: -75px;
    z-index: 2;
    max-width: var(--cu-max-width-section); // Force narrow section width;
    margin: 0 auto;

    @media (max-width: 1200px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .cu-component--card-overlay-item {
    .cu-composite-heading__heading {
      --cu-font-size: var(--cu-ms8);
    }
  }

  &.cu-card-overlay--hover-expand .cu-component--card-overlay-item {
    @include breakpoint(md) {
      .cu-component--card-overlay-item--card-body {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: opacity 0.3s ease-out, max-height 0.3s ease-out;
      }

      &:hover {
        .cu-component--card-overlay-item--card-body {
          opacity: 1;
          max-height: 100%;
        }
      }
    }
  }
}

// Update styles when placed in the banner and allow full-bleed.
.layout-banner .cu-banner:has(.cu-component--card-overlay) {
  padding: 0;

  .cu-component--card-overlay > .cu-composite-heading {
    margin: 0 auto;

    @include breakpoint(md) {
      .cu-heading {
        --cu-font-size: var(--cu-ms8);
      }
    }
  }

  &.cu-banner--full-bleed .cu-component--card-overlay {
    > .cu-composite-heading {
      max-width: var(--cu-max-width-section);

      .media-wrapper {
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        width: 100vw;
        max-width: 100vw;
      }
    }

    .field--field-components {
      max-width: 100%;
    }
  }

  .field--field-components {
    margin: 0 var(--gutter-width);

    @include breakpoint(md) {
      margin: 0 auto;
      max-width: var(--cu-max-width-section);
    }
  }
}

// Manually override colorschemes in specific dark/light combos.
.cu-component--card-overlay.cu-colorscheme--dark,
.cu-section.cu-colorscheme--dark .cu-component--card-overlay,
.cu-component--card-overlay.cu-colorscheme--light,
.cu-section.cu-colorscheme--light .cu-component--card-overlay {
  .media-wrapper img {
    --cu-media-brightness-default: .5;
  }
}

.cu-component--card-overlay.cu-colorscheme--dark,
.cu-section.cu-colorscheme--dark .cu-component--card-overlay {
  .cu-card {
    background-color: var(--cu-color-light-gray);
    --cu-text-color: var(--cu-color-dark);

    .cu-button {
      color: var(--cu-color-dark);

      &:hover {
        color: var(--cu-color-white);
      }
    }
  }
}
