.node--eventalicious.node--view-mode-full {
  max-width: 1120px;
  margin: 0 auto;


  .layout--twocol-section--67-33 {
    display: grid;
    gap: var(--cu-ps4);
    grid-template-columns: 2.25fr 1fr;
    // align-items: start;
  }

  .layout__region--first,
  .layout__region--second {
    // grid-gap: var(--cu-vr-1) var(--cu-grid-column-gap);
    display: block;
  }

  .layout__region--first {
    > * + * {
      margin: var(--cu-vr1) 0;
    }
  }

  .block-field-block--node--event-landing-page--field-sections {
    // margin-top: 0;
  }

  // .layout__region--second {
  //   align-self: start;
  //   position: sticky;
  //   top: 2em;
  // }

  .cu-section {
    margin-bottom: var(--cu-vr2);
    padding-top: var(--cu-vr1);
    border-top: 1px solid #DFDFDF;
  }

  .cu-component {
    margin-bottom: var(--cu-vr1);
  }

  .block-field-block--node--event-landing-page--field-registration-form {
    margin-top: var(--cu-vr3);
    padding: var(--cu-vr1) var(--cu-ps1);
    box-shadow: 0 2px 10px 2px #ddd;
  }

  .cu-input-list__item--checkbox {
    align-items: baseline;
  }

  .webform-button--submit {
    width: 100%;
  }

  .post-button-text {
    --cu-font-size: var(--cu-ms-2);
    --cu-font-weight: 400;
    --cu-text-color: #6C6C6C;
    text-align: center;
  }

  .block-better-social-sharing-buttons {
    .cu-heading {
      --cu-font-size: var(--cu-ms0);
      // --cu-font-weight: 700;
    }
  }

  .social-sharing-buttons {
    position: static;
    flex-direction: unset;
    margin-top: var(--cu-vr1);
  }

  .block-field-block--node--event-landing-page--field-representative-image {
    margin-bottom: var(--cu-vr2);
  }

  .block-field-block--node--event-landing-page--event-date {
    --cu-font-weight: 400;
  }

  .cu-section.field--field-sponsor {
    padding-top: var(--cu-vr-1);
    border-top: none;

    &.cu-section--left > .cu-section__heading::after {
      display: none;
    }

    .cu-composite-heading__heading {
      --cu-font-size: var(--cu-ms1);
    }

    .cu-section__content {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: var(--cu-ps3);
      align-items: center;
      justify-items: center;
    }

    .cu-image {
      max-height: 100px;
      object-fit: contain;
    }
  }

  .block-extra-field-block--node--event-landing-page--event-when-where {
    width: 100%;
  }

  h1.cu-heading {
    --cu-font-family: 'futura-pt';
    --cu-font-size: var(--cu-ms7); // We don't go bigger than this. It's about 45px.
    --cu-font-size: 65px;
    text-transform: uppercase;
    margin-top: -.5em;
    margin-bottom: 0;
  }

  .field--body {
    --cu-font-weight: 400;
    margin-top: -1em;
  }

  // The body field is displayed twice on the full page
  .field--body.field--label-above {
    --cu-font-weight: 300;
    margin-top: revert;
  }

  .cu-section--left {
    display: block;

    & > .cu-section__heading {
      margin-bottom: var(--cu-vr1);

      &::after {
        width: 60px;
      }
    }
  }

  .event-when-where {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1em;
    --cu-font-size: var(--cu-ms-2);
    --cu-font-weight: 400;
    --cu-text-color: #6C6C6C;

    .cu-heading {
      --cu-font-size: 20px;
      --cu-text-color: #222;
      margin-bottom: var(--cu-vr-2);
    }

    .field--location-link {

    }
  }

  .paragraph--type--agenda {
    padding: var(--cu-vr1) var(--cu-ps1);
    background-color: #F7F6F6;

    .cu-heading.field--field-heading {
      --cu-font-family: 'futura-pt';
      text-transform: uppercase;
    }

  }

  .paragraph--type--agenda-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--cu-ps1);
    margin-bottom: var(--cu-v0);
    padding-top: var(--cu-vr0);
    border-top: 1px solid #DFDFDF;

    .field--field-heading {
      --cu-font-family: 'futura-pt';
      text-transform: uppercase;
    }
  }
}
