.node--eventalicious.node--view-mode-full {
  max-width: 1128px;
  margin: 0 auto;

  .layout--twocol-section--67-33 {
    display: block;
    margin-top: var(--cu-vr2);

    @include breakpoint(md) {
      display: grid;
      gap: var(--cu-ps3);
      grid-template-columns: 2.25fr 1fr;
      // align-items: start;
    }
  }

  .layout__region--first,
  .layout__region--second {
    // grid-gap: var(--cu-vr-1) var(--cu-grid-column-gap);
    display: block;
  }

  .layout__region--first {
    > * + * {
      margin: var(--cu-vr1) 0;
    }
  }

  .field--field-sections {
    border-top: 1px solid #DFDFDF;
  }

  .cu-section {
    margin-bottom: var(--cu-vr2);
    padding-top: var(--cu-vr1);
  }

  .cu-section[class*="cu-colorscheme"] {
    border-top: none;
  }

  .cu-component {
    margin-bottom: var(--cu-vr1);
  }

  .block-extra-field-block--node--event-landing-page--extra-field-event-registration-details {
    .cu-input-message {
      --cu-font-size: var(--cu-ms-2);
    }

    .registration-form-collapse {
      color: #333;
      display: none;
      position: absolute;
      cursor: pointer;
      top: 0;
      right: 0;
      width: 50px;
      height: 50px;
      background-color: rgba(128,128,128,.15);
      border: none;
      border-radius: 0 0 0 20%;

      span {
        visibility: hidden;
      }

      &::after {
        content: '×';
        font-size: var(--cu-ms4);
        position: absolute;
        top: 4px;
        right: 0;
        width: 100%;
        height: 100%;
      }
    }

    [data-collapsed="0"] .registration-form-collapse {
      display: block;
    }
  }

  // Register link in the banner.
  .layout-banner .block-extra-field-block--node--event-landing-page--extra-field-register-link-button {
    display: flex;
    gap: var(--cu-ps1);
    align-items: center;

    .cu-button {
      @include breakpoint(sm) {
        padding-left: var(--cu-ps2);
        padding-right: var(--cu-ps2);
      }
    }
    .post-button-text {
      flex-grow: 1;
    }
    .cu-text {
      margin: 0;
    }
  }

  // Form in the sidebar.
  .layout--twocol-section .block-extra-field-block--node--event-landing-page--extra-field-event-registration-details {
    box-shadow: 0 2px 10px 2px rgba(0,0,0,.2);
    background-color: white;
    z-index: 2;
    padding: var(--cu-vr1) var(--cu-ps1);

    @include breakpoint(md) {
      position: sticky;
      top: var(--cu-vr0);
      bottom: unset;
      width: revert;
      max-height: revert;
      transition: margin 100ms;

      &:has([data-collapsed="0"]) {
        position: relative;
        margin-left: calc(var(--cu-ps5) * -1);
      }
    }
  }

  .cu-input-list__item--checkbox {
    align-items: baseline;
  }

  .webform-button--submit,
  .cu-button {
    --cu-font-weight: 400;
    --cu-text-color: white;
    width: 100%;
    background-color: var(--cu-color-brand);
  }

  .cu-button {
    --cu-font-size: var(--cu-ms-1);
    text-align: center;
  }

  .post-button-text {
    --cu-font-size: var(--cu-ms-2);
    --cu-font-weight: 400;
    --cu-text-color: #6C6C6C;
    text-align: center;
  }

  .cu-message-list__list-item {
    --cu-font-size: var(--cu-ms-2);
    --cu-line-height: 1.3;
  }

  .cu-message {
    padding: .2rem .5rem;
    margin-bottom: var(--cu-vr-1);
  }

  .block-better-social-sharing-buttons {
    .cu-heading {
      --cu-font-size: var(--cu-ms0);
      // --cu-font-weight: 700;
    }
  }

  .social-sharing-buttons {
    position: static;
    flex-direction: unset;
    margin-top: var(--cu-vr1);
  }

  .layout__region--first .social-sharing-buttons {
    margin-top: var(--cu-vr0);
    margin-bottom: var(--cu-vr0);
  }

  .layout__region--second .social-sharing-buttons {
    display: none;
    margin-bottom: var(--cu-vr1);
  }

  @include breakpoint(md) {
    .layout__region--first .social-sharing-buttons {
      display: none;
    }

    .layout__region--second .social-sharing-buttons {
      display: flex;
    }
  }

  .social-sharing-buttons-button {
    background-color: #F7F6F6;
    border-radius: 3px;
    padding: 3px;
  }

  .block-field-block--node--event-landing-page--event-date {
    --cu-font-weight: 700;
    --cu-font-size: var(--cu-ms-2);
  }

  .block-extra-field-block--node--event-landing-page--extra-field-delivery-method {
    --cu-font-weight: 700;
    --cu-font-size: var(--cu-ms-3);
    text-align: center;
    text-transform: uppercase;
    border: 1px solid var(--cu-text-color);
    border-radius: var(--cu-font-size);
    align-self: flex-start;
    padding: 0 var(--cu-font-size);
  }

  .cu-section.field--field-sponsor {
    padding-top: var(--cu-vr-1);
    border-top: none;

    &.cu-section--left > .cu-section__heading::after {
      display: none;
    }

    .cu-composite-heading__heading {
      --cu-font-size: var(--cu-ms1);
    }

    .cu-section__content {
      display: grid;
      grid-template-columns: 1fr;
      gap: var(--cu-ps3);
      align-items: center;
      justify-items: center;

      @include breakpoint(sm) {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    .cu-image {
      max-height: 100px;
      object-fit: contain;
    }
  }

  .cu-heading.field--field-subtitle {
    --cu-font-size: var(--cu-ms2);
  }

  .block-extra-field-block--node--event-landing-page--event-when-where {
    width: 100%;
  }

  h1.cu-heading {
    --cu-font-weight: 700;
    --cu-line-height: 1.2;
    --cu-font-size: var(--cu-ms7);
  }

  .field--field-series-name {
    --cu-font-size: var(--cu-ms-2);
    --cu-font-weight: 700;
    text-transform: uppercase;
  }

  .field--body {
    --cu-font-weight: 400;
  }

  // The body field is displayed twice on the full page
  .field--body.field--label-above {
    --cu-font-weight: 300;
    margin-top: revert;
  }

  .cu-section--left {
    display: block;

    & > .cu-section__heading {
      margin-bottom: var(--cu-vr1);

      &::after {
        width: 60px;
      }
    }
  }

  .event-when-where {
    display: grid;
    grid-template-columns: auto;
    gap: 1em;
    --cu-font-size: var(--cu-ms-2);
    --cu-font-weight: 400;
    --cu-text-color: #6C6C6C;

    @include breakpoint(sm) {
      grid-template-columns: auto auto;
    }

    .cu-heading {
      --cu-font-size: 20px;
      --cu-text-color: #222;
      margin-bottom: var(--cu-vr-2);
    }

    .cu-icon, .cu-icon__image {
      margin-bottom: 0;
    }

    .event-when-where__date,
    .event-when-where__location {
      display: grid;
      column-gap: var(--cu-ps-1);
      grid-template-columns: auto 1fr;

      > * {
        grid-column: 2;
      }

      .cu-icon {
        grid-column: 1;
        background-color: transparent;
      }
    }
    .cu-icon {
      margin-bottom: 0;
      background-color: #F7F6F6;
      padding: 14px;
      border-radius: 20%;
    }
  }

  .block-extra-field-block--node--event-landing-page--extra-field-event-registration-details {
    position: relative;

    .field--field-registration-form,
    .event-when-where__date,
    .event-when-where__location {
      padding-bottom: var(--cu-vr1);
      border-bottom: 2px dotted $gray-medium;

      &:last-child {
        border: none;
        padding-bottom: 0;
      }
    }

    .event-when-where {
      margin-top: var(--cu-vr1);
      gap: var(--cu-vr1);
      display: flex;
      flex-direction: column;

      .cu-icon {
        padding: 0;
        --cu-text-color: #C1B7B1;
      }

      .field--event-date {
        --cu-font-weight: 600;
        --cu-text-color: var(--cu-color-dark);
      }

      .field--event-date ~ .field--event-date {
        --cu-font-weight: 400;
        --cu-text-color: revert;
      }

      .cu-heading {
        --cu-font-size: var(--cu-ms-2);
        --cu-font-weight: 700;
      }
    }

    .event-when-where__date .cu-heading {
      display: none;
    }

    .webform-submission-event-registration-form .webform-actions,
    .webform-submission-event-registration-form .post-button-text {
      margin: 0;
      padding: 0;
    }
  }
}

.cu-list--list-compact .cu-event-card-wrapper:not(:last-of-type) {
  padding-bottom: var(--cu-vr1);
  margin-bottom: var(--cu-vr1);
  border-bottom: 1px solid $gray-light;
}

.cu-event-card__content .cu-composite-heading__heading {
  --cu-font-size: var(--cu-ms3);
}

.cu-event-card__content .field--body,
.cu-event-card__content .cu-x-event__description {
  --cu-font-size: var(--cu-ms-2);
}

.cu-event-card__content .cu-composite-heading__heading,
.cu-event-card__content .field--body,
.cu-event-card__content .cu-x-event__description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.cu-event-card__content .field--body,
.cu-event-card__content .cu-x-event__description {
  -webkit-line-clamp: 2;
  margin-bottom: 0;
}

.cu-event-card__media .field-representative-image {
  display: contents;
}

.cu-event-card__content .cu-composite-heading__heading {
  margin-bottom: var(--cu-vr0);

  .cu-list--grid-compact & {
    margin-bottom: 0;
  }
}

.cu-component--event-listing.cu-grid--3col[data-itemcount="1"] {
  grid-template-columns: 1fr;
}

.cu-component--event-listing.cu-grid--3col[data-itemcount="2"] {
  grid-template-columns: 1fr 1fr;
}

.cu-banner--event_landing_page .banner__left:has(.field--field-delivery-method) {
  display: grid;
  grid-template-columns: auto auto 1fr;
  gap: var(--cu-vr0) var(--cu-ps0);
  align-self: start;

  .cu-heading {
    margin-bottom: 0;
  }

  > * {
    grid-column: 1 / -1;
  }

  .block-extra-field-block--node--event-landing-page--extra-field-delivery-method {
    grid-column: 1;
  }

  .block-field-block--node--event-landing-page--event-date {
    grid-column: 2;
  }
}

.cu-banner--event_landing_page .banner__right {
  @include breakpoint(md) {
    min-height: 400px;
  }
}

