// Include union overrides here for feature lists
.certificate-list {
  .cu-feature-list__item {
    margin-bottom: var(--cu-vr1);
  }
}

.block-certificate-basics-block {
  --cu-accent-height: 0px;
}

.node--course.node--view-mode-teaser {
  .cu-feature-list {
    --cu-grid-row-gap: var(--cu-vr0);
  }

  .cu-feature-list__name {
    --cu-font-size: var(--cu-ms-1);

    &::after {
      display: none;
    }
  }

  .cu-icon {
    --cu-text-color: #222;
  }

  .cu-icon__image {
    margin-bottom: 0;
  }
}

ol.accentuated {
  padding: 0;
  list-style: none;
  counter-reset: fancy-item;

  li {
    counter-increment: fancy-item; /* Increment the counter by 1 */
    margin-bottom: 1em;
    display: flex;
    align-items: flex-start;
  }

  li::marker {
    content: '';
  }

  li::before {
    min-width: 30px;
    border-radius: 15px;
    margin-right: 1em;
    display: inline-block;
    color: white;
    background: $cornell-red;
    text-align: center;
    content: counter(fancy-item); /* Use the counter as content */
  }
}

.field--ilroutreach-discount-price + .field--field-price {
  text-decoration: line-through;
  text-decoration-color: $cornell-red;
  text-decoration-thickness: 2px;
  color: #666;
  font-weight: 300;
  order: -1;
}

.node--course.node--view-mode-teaser .cu-feature-list__name {
  display: flex;
  gap: .5em;
}
