// Include union overrides here for feature lists
.certificate-list {
  .cu-feature-list__item {
    margin-bottom: var(--cu-vr1);
  }

  .cu-feature-list__description {
    --cu-current-font-size: var(--cu-ms0);
  }
}

.node--course.node--view-mode-teaser .cu-feature-list__name {
  --cu-current-heading-size: var(--cu-ms1);
}
