.field--label-inline {
  display: flex;
  flex-wrap: wrap;
  gap: .5em;
}

.field--label-inline .field__label {
  font-weight: 400;

  &::after {
    content: ':'
  }
}

.field--label-inline p.address {
  margin: 0;
}

.node--course.node--view-mode-teaser .field {
  margin-bottom: 0;
  line-height: 1;
}

.course-notification-course-ref {
  display: none !important; // This is filled in via JS.
}

.field--field-course-number {
  display: flex;
  font-weight: 100;
  margin-bottom: 1.25em;
}

.field--field-course-number > div {
  margin-right: .25em;
}

.node--course .cu-banner--page .cu-heading {
  --cu-component-margin-bottom: .25em;
}

.cu-card .field--field-published-date {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 0 0 var(--cu-vr-2) 0;
}

.cu-component--rich-text iframe {
  border: 0;
}

.cu-person__name,
.cu-person__name .persona__name {
  margin: 0;

  a {
    text-decoration: none;
  }
}

.field--field-bio {
  .links.inline {
    padding: 0;
    list-style-type: none;
  }
}

.cu-grid--3col.cu-component--people-listing {
  @include breakpoint(sm) {
    grid-template-columns: repeat(2, 50%);

    .field--field-email {
      overflow-wrap: break-word;
      hyphens: auto;
    }
  }

  @include breakpoint(md) {
    grid-template-columns: repeat(3, 33.33%);
  }
}

.cu-testimonial__attribution .field {
  display: inline;
}

#block-union-marketing-homepage-banner .cu-card--dynamic .cu-card__content {
  container-type: inline-size;
}

#block-union-marketing-homepage-banner .cu-card--dynamic .cu-composite-heading__heading {
  --cu-font-size: 2vw;
  --cu-font-size: 8cqi;
}
