.field--label-inline {
  display: flex;
  flex-wrap: wrap;
  gap: .5em;
}

.field--label-inline .field__label {
  font-weight: 400;

  &::after {
    content: ':'
  }
}

.field--label-inline p.address {
  margin: 0;
}

.node--course.node--view-mode-teaser .field {
  margin-bottom: 0;
  line-height: 1;
}

.course-notification-course-ref {
  display: none !important; // This is filled in via JS.
}

.field--field-course-number {
  display: flex;
  font-weight: 100;
  margin-bottom: 1.25em;
}

.field--field-course-number > div {
  margin-right: .25em;
}

.node--course .cu-banner--page .cu-heading {
  --cu-component-margin-bottom: .25em;
}

.node--course.node--view-mode-teaser .cu-card__content,
.node--view-mode-teaser-compact.cu-card--teaser .cu-card__content {
  padding-top: var(--cu-vr1);

  .cu-button {
    width: 100%;
    text-align: center;
    margin-top: auto;
  }
}

.cu-component--rich-text iframe {
  border: 0;
}

.cu-person__name,
.cu-person__name .persona__name {
  margin: 0;

  a {
    text-decoration: none;
  }
}

.field--field-bio {
  .links.inline {
    padding: 0;
    list-style-type: none;
  }
}

.cu-grid--3col.cu-component--people-listing {
  @include breakpoint(sm) {
    grid-template-columns: repeat(2, auto);

    .field--field-email {
      overflow-wrap: break-word;
      hyphens: auto;
    }
  }

  @include breakpoint(md) {
    grid-template-columns: repeat(3, auto);
  }
}

.cu-testimonial__attribution .field {
  display: inline;
}

// Fix for the Cinematic card link in Chrome.
.cu-card--cinematic .cu-card__link {
  width: 100%;
}
