.cu-fieldset {
  padding: 0;

  .cu-legend {
    margin: var(--cu-vr0) 0;
  }
}

// Visually hide datelist elements but allow screen readers.
.cu-input-list__item--datelist .container-inline .cu-label {
  @include visually-hidden;
}

.cu-input-list__item--webform_document_file {
  padding: var(--cu-vr0);
  margin-bottom: var(--cu-vr1);
  border: 1px solid #ccc;
  border-radius: 3px;
}

.webform-submission-event-registration-form[action*="variant=worker_institute_opt_in"] {
  .cu-input-list__item--checkbox {
    margin-bottom: var(--cu-vr0);
  }

  @include breakpoint(sm) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 var(--cu-ps0);
    align-items: start;

    .form-item-accessible-accommodation.cu-input-list__item.has-float-label {
      display: flex;
      flex-direction: column;
      grid-row: span 3;

      .cu-input-message {
        margin-bottom: var(--cu-vr-1);
      }

      .cu-input {
        order: 2;
      }
    }

    .webform-actions {
      align-self: end;
    }
  }
}

.webform-submission-event-registration-form {
  .cu-input-list__item--checkbox {
    margin-left: 0;
  }

  .cu-fieldset .cu-input-list__item--checkbox {
    margin-left: var(--cu-ms0);
  }

  .webform-actions {
    margin-top: 1em;
  }

  .webform-type-address > .cu-legend {
    margin: 0;
  }
}

.webform-submission-form .address--wrapper {
  margin-top: 0;
}

.webform-submission-form .cu-legend {
  margin-bottom: 0;
}

.webform-submission-form #edit-program-of-interest--wrapper .cu-fieldset__wrapper {
  padding-right: var(--cu-ps-2);
  padding-left: var(--cu-ps-1);
}

.webform-submission-form #edit-program-of-interest {
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.webform-submission-form #edit-program-of-interest .cu-input-list__item--checkbox {
  align-items: baseline;
}

.webform-submission-form #edit-program-of-interest .cu-label {
  line-height: 1.25;
  --cu-font-size: var(--cu-ms-2);
}

// See https://developer.mozilla.org/en-US/docs/Web/CSS/:has
.cu-legend:has(.visually-hidden) {
  margin: 0;
}

// Workaround for Safari. For some reason, when the display is set while
// .visually-hidden, this div's width is set way too wide. But only while
// authenticated. For reasons.
.webform-submission-cahrs-newsletter-signup-form .cahrs-quarterly-message {
  display: inline-block;
}

// For reasons unknown, the `visible` #state on `custom_1_answer` in the generic
// event registration form does not work. `disabled` does, so we're using this
// extra CSS to also hide the fieldset.∏
#edit-custom-1-answer--wrapper:disabled {
  display: none;
}

.node--event-landing-page.bvg--subsite-53 .webform-submission-event-registration-form {
  .radios--wrapper {
    .cu-legend {
      margin-bottom: var(--cu-vr-1);
    }
    .cu-input-list__item--radio {
      margin-bottom: var(--cu-vr-1);

      .cu-label {
        margin-left: var(--cu-ps0);
      }
    }
  }

  .cu-legend,
  .cu-input-message {
    --cu-font-size: var(--cu-ms-1);
  }

  .form-item-custom-2-answer.cu-input-list__item--textarea {
    display: flex;
    flex-direction: column;
    gap: var(--cu-vr0);

    .cu-label {
      display: none;
    }

    .cu-input-message {
      order: -1;
      color: $black;

      // Since we are hiding the label, we'll put a "required" indicator on the
      // description.
      ::after {
        content: '*';
        color: $cornell-red;
        font-weight: bold;
        font-size: 80%;
        display: inline-block;
        vertical-align: super;
      }
    }
  }
}

.paragraph--type--form[class*="cu-colorscheme"] {
  padding: var(--cu-vr0) var(--cu-ps1);
}

.paragraph--type--form .cu-button--alt {
  --cu-text-color: unset;
}

.paragraph--type--form.cu-colorscheme--vibrant .cu-button--alt {
  border-color: white;
}

// We might want/need to generalize this to any use of the same colorscheme inside another colorscheme.
.cu-colorscheme--light .paragraph--type--form.cu-colorscheme--light,
.cu-colorscheme--dark .paragraph--type--form.cu-colorscheme--dark,
.cu-colorscheme--vibrant .paragraph--type--form.cu-colorscheme--vibrant {
  box-shadow: inset 0 0 5px 0px rgba(128,128,128,.75);
}

.captcha-type-challenge--friendlycaptcha {
  margin-bottom: var(--cu-vr1);

  .captcha__description {
    font-size: var(--cu-ms-1);
    color: var(--cu-color-text-disabled, #888888);
    margin-top: var(--cu-vr-4);
    margin-bottom: 0;
  }
}

.frc-banner a {
  font-size: 10px;
}
