.cu-fieldset {
  padding: 0;

  .cu-legend {
    margin: var(--cu-vr0) 0;
  }
}

// Visually hide datelist elements but allow screen readers.
.cu-input-list__item--datelist .container-inline .cu-label {
  @include visually-hidden;
}

.cu-input-list__item--webform_document_file {
  padding: var(--cu-vr0);
  margin-bottom: var(--cu-vr1);
  border: 1px solid #ccc;
  border-radius: 3px;
}

.webform-submission-event-registration-form[action*="variant=worker_institute_opt_in"] {
  .cu-input-list__item--checkbox {
    margin-bottom: var(--cu-vr0);
  }

  @include breakpoint(sm) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 var(--cu-ps0);
    align-items: start;

    .form-item-accessible-accommodation.cu-input-list__item.has-float-label {
      display: flex;
      flex-direction: column;
      grid-row: span 3;

      .cu-input-message {
        margin-bottom: var(--cu-vr-1);
      }

      .cu-input {
        order: 2;
      }
    }

    .webform-actions {
      align-self: end;
    }
  }
}

.webform-submission-event-registration-form {
  .cu-input-list__item--checkbox {
    margin-left: 0;
  }

  .cu-fieldset .cu-input-list__item--checkbox {
    margin-left: var(--cu-ms0);
  }

  .webform-actions {
    margin-top: 1em;
  }

  .webform-type-address > .cu-legend {
    margin: 0;
  }
}

.webform-submission-form .address--wrapper {
  margin-top: 0;
}

.webform-submission-form .cu-legend {
  margin-bottom: 0;
}

// See https://developer.mozilla.org/en-US/docs/Web/CSS/:has
.cu-legend:has(.visually-hidden) {
  margin: 0;
}

// Workaround for Safari. For some reason, when the display is set while
// .visually-hidden, this div's width is set way too wide. But only while
// authenticated. For reasons.
.webform-submission-cahrs-newsletter-signup-form .cahrs-quarterly-message {
  display: inline-block;
}

// For reasons unknown, the `visible` #state on `custom_1_answer` in the generic
// event registration form does not work. `disabled` does, so we're using this
// extra CSS to also hide the fieldset.âˆ
#edit-custom-1-answer--wrapper:disabled {
  display: none;
}

.node--event-landing-page.bvg--subsite-53 .webform-submission-event-registration-form {
  .radios--wrapper {
    .cu-legend {
      margin-bottom: var(--cu-vr-1);
    }
    .cu-input-list__item--radio {
      margin-bottom: var(--cu-vr-1);

      .cu-label {
        margin-left: var(--cu-ps0);
      }
    }
  }

  .cu-legend,
  .cu-input-message {
    --cu-font-size: var(--cu-ms-1);
  }

  .form-item-custom-2-answer.cu-input-list__item--textarea {
    display: flex;
    flex-direction: column;
    gap: var(--cu-vr0);

    .cu-label {
      display: none;
    }

    .cu-input-message {
      order: -1;
      color: $black;

      // Since we are hiding the label, we'll put a "required" indicator on the
      // description.
      ::after {
        content: '*';
        color: $cornell-red;
        font-weight: bold;
        font-size: 80%;
        display: inline-block;
        vertical-align: super;
      }
    }
  }
}

// People listing filters and related.
.people-directory .views-exposed-form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  column-gap: var(--cu-ps1);

  @include breakpoint(md) {
    flex-wrap: nowrap;
  }

  .cu-input--select {
    padding: .75rem 0.5rem;
    background: transparent;
    border-radius: 3px;
    border: 1px solid $gray-medium;
  }
}

.people-directory__glossary ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;

  > * + *::before {
    content: '';
    border-left: 1px solid $gray-medium;
    margin: 0 var(--cu-ps-1);
  }

  a {
    text-decoration: none;
  }

  .is-active {
    color: $cornell-red;
    font-weight: 400;
  }
}
