.node--instructor {
  #block-pagetitle {
    display: grid;
    grid-gap: 0 var(--cu-ps1);

    @include breakpoint(sm) {
      grid-template-columns: 200px auto;

      h1 {
        grid-column: 2;
      }
    }
  }
}

.article--instructor {
  margin-bottom: var(--cu-vr3);

  .node__content {
    display: grid;
    grid-gap: 0 var(--cu-ps1);

    @include breakpoint(sm) {
      grid-template-columns: 200px auto;
      grid-template-rows: auto 1fr;
    }
  }

  .field--field-job-title {
    font-weight: 400;
    font-size: var(--cu-ms2);
    margin-bottom: var(--cu-vr-1);
  }

  .field--body p {
    margin-top: 0;
  }

  @include breakpoint(sm) {
    .field-representative-image {
      grid-row: 1/3;
    }

    .field--field-job-title {
      grid-column: 2;
    }

    .field--body {
      grid-row: 2;
      grid-column: 2;
    }
  }
}

.cu-grid--people {
  @include breakpoint(sm) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: var(--cu-ps0);
  }

  @include breakpoint(md) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.node--participant.node--view-mode-mini.inactive {
  display: none;
}

.block__instructors.empty {
  display: none;
}
