.cu-list--carousel {
  .node--view-mode-compact-media {
    .cu-composite-heading__heading {
      --cu-font-size: var(--cu-ms3);
    }

    .cu-card__meta {
      margin-bottom: var(--cu-vr0);
    }

    .field--field-published-date {
      --cu-font-size: 12px !important;
      --cu-font-weight: 700;
      --cu-line-height: 1 !important;
      opacity: 0.75;
      text-transform: uppercase;
      letter-spacing: 0.1em;
    }
  }

  .cu-gallery__item:nth-child(odd) {
    .cu-image {
      aspect-ratio: 6/5;
    }
  }
}
