.node--media-mention.node--view-mode-teaser .field--field-media-image,
.node--media-mention.node--view-mode-teaser-compact .field--field-media-image,
.node--media-mention.node--view-mode-featured .field--field-media-image {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 0.5em;
  order: -1;
}

.node--media-mention.node--view-mode-teaser .field--field-media-image::after,
.node--media-mention.node--view-mode-teaser-compact .field--field-media-image::after,
.node--media-mention.node--view-mode-featured .field--field-media-image::after {
  content: '';
  display: block;
  border-top: 2px solid #222;
  flex-grow: 1;
  height: 0;
  margin-left: 10px;
}

.node--media-mention.node--view-mode-teaser .field--field-media-image .cu-image,
.node--media-mention.node--view-mode-teaser-compact .field--field-media-image .cu-image,
.node--media-mention.node--view-mode-featured .field--field-media-image .cu-image {
  max-height: 25px;
  width: auto;
}

.cu-list--grid-compact .node--media-mention .cu-heading {
  --cu-current-heading-size: var(--cu-text-med);
  --cu-heading-font-weight: 400;
}

.media-mention--mini {
  margin-bottom: var(--cu-vr1);
}

.media-mention__info {
  display: flex;
}

.media-mention__info > *:not(:last-child)::after {
  content: '-';
  display: inline-block;
  padding: 0 .5em;
}
