.media__caption,
.field--field-representative-img-caption {
  font-size: var(--cu-ms-1);
  line-height: 1.4;
  margin: .5em auto 0;
  max-width: var(--cu-max-width-section, #{$max-width-section});
}

.field--field-representative-img-caption {
  text-align: right;
}

@include breakpoint(md) {
  .cu-media.align-right,
  .cu-media.align-left {
    width: 50%;
    margin: 0 0 var(--cu-vr1) 0;

    .field--field-media-image {
      margin: 0;
    }
  }

  .cu-media.align-right {
    margin-left: var(--cu-ps2);
  }

  .cu-media.align-left {
    margin-right: var(--cu-ps2);
  }
}

.cu-card__media .media--position-top .cu-image,
.cu-banner__media .media--position-top .cu-image {
  object-position: top;
}

.cu-card__media .media--position-bottom .cu-image,
.cu-banner__media .media--position-bottom .cu-image {
  object-position: bottom;
}
