.media__caption,
.field--field-representative-img-caption {
  font-size: var(--cu-ms-1);
  line-height: 1.4;
  margin: .5em auto 0;
  max-width: var(--cu-max-width-section, #{$max-width-section});
}

.cu-component--image .media__caption {
  padding-left: var(--cu-ps1);

  @include breakpoint(sm) {
    padding-left: var(--cu-ps2);
  }

  @include breakpoint(md) {
    padding-left: 0;
  }
}

.field--field-representative-img-caption {
  text-align: right;
}

// Video width hack until captioned videos are working.
.cu-media.media--remote-video {
  width: 100%;
  min-width: 50%;
}

.cu-media.align-center,
.cu-component--rich-text .cu-media {
  margin-bottom: var(--cu-vr1);

  .cu-image,
  audio {
    width: 100%;
  }
}

// Add a partial border to un-floated inline images. Note that image
// paragraphs (e.g. .paragraph--type--image) should arguably use this
// treatment, too, but the border could conflict with image effects (curtain,
// ken burns) allowed on image paragraphs.
.cu-component:not(.cu-component__frame):not(.cu-component--milestone) .cu-media.align-center .field--field-media-image {
  margin-bottom: 0;
  padding: 16px 16px 16px 0;
  background:
    linear-gradient(#ccc 0 0) top right / 75% 16px,
    linear-gradient(#ccc 0 0) right / 16px 100%,
    linear-gradient(#ccc 0 0) bottom right / 15% 16px,   transparent;
  background-repeat: no-repeat;
}

.cu-media.align-right,
.cu-media.align-left {
  margin: 0 0 var(--cu-vr1) 0;
  width: 100%;
  float: none;

  .cu-image,
  audio {
    width: 100%;
  }

  @include breakpoint(sm) {
    width: 50%;

    .cu-image {
      width: auto;
    }
  }

  .field--field-media-image {
    margin: 0;
  }
}

@include breakpoint(sm) {
  .cu-media.align-right {
    float: right;
    margin-left: var(--cu-ps2);
  }

  .cu-media.align-left {
    float: left;
    margin-right: var(--cu-ps2);
  }
}

.cu-component.cu-component--media-deck {
  @include full-width();
  --cu-component-margin: var(--cu-vr1);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: var(--cu-ps-2);
  margin-top: var(--cu-component-margin);
  margin-bottom: var(--cu-component-margin);

  :nth-child(2) {
    grid-row: 1/3;
    grid-column: 2;
  }

  .media__caption {
    grid-row: -1;
    grid-column: 1/-1;
    margin: 0;
    padding: 0 var(--cu-ps0);
  }

  .cu-image {
    object-fit: cover;
    width: 100%;
    align-self: stretch;
  }

  &--portrait-left {
    :nth-child(2) {
      grid-column: 1;
    }
  }

  @include breakpoint(sm) {
    --cu-component-margin: var(--cu-vr2);
    grid-template-rows: repeat(3, auto);
    gap: var(--cu-ps0);

    :nth-child(2) {
      grid-row: 1/3;
    }

    :nth-child(3) {
      grid-row: 2/4;
    }

    .media__caption {
      grid-column: 2;
      grid-row: 3;
      padding: 0 var(--cu-ps1) 0 0;
    }

    &--portrait-left {
      .media__caption {
        grid-column: 1;
        padding: 0 0 0 var(--cu-ps1);
      }
    }
  }

  @include breakpoint(md) {
    --cu-component-margin: var(--cu-vr3);
    gap: 40px;

    .media__caption {
      max-width: 50%;
    }

    &--portrait-left {
      .media__caption {
        justify-self: end;
        text-align: right;
        text-align: justify;
        hyphens: auto;
      }
    }
  }
}

.cu-component.cu-component--gallery {
  @include full-width();
}

.cu-component.cu-component--gallery:not([class*="cu-colorscheme--"]) {
  padding: var(--cu-vr-2) var(--cu-ps1);
}

// Don't let Drupal media wrapper markup affect gallery item styles.
.cu-component--gallery .cu-gallery__item :not(img, video, iframe) {
  display: contents;
}

// Gallery items have a set height, which should set the width automatically.
.cu-component--gallery .cu-gallery__item img {
  width: unset;
}

.cu-gallery__item .remote-video-wrapper iframe {
  position: unset;
  width: unset;
  aspect-ratio: 1.5;
}

.ilr-effect-image.curtain-reveal::before {
  background-position: var(--cu-image-position);
}

.cu-card--with-aside .cu-card__media .cu-image--blurred {
  display: block; // Fix issues with display: contents declaration in union.
}

.figure-grid {
  display: flex;
  flex-wrap: wrap;
  gap: var(--cu-vr2);
  justify-content: center;

  .cu-media {
    margin: 0;
  }

  .cu-image {
    max-height: 125px;
    width: auto;
  }

  .media__caption {
    text-align: center;
  }
}

.ilr-effect-image.curtain-reveal {
  margin-left: -50vw;
  margin-right: -50vw;
}

.cu-component__frame {
  --frame-color: #ccc;
  --frame-width: 16px;

  .cu-image,
  iframe {
    padding: var(--frame-width) var(--frame-width) var(--frame-width) 0;
    background:
      linear-gradient(var(--frame-color) 0 0) top right / 75% var(--frame-width),
      linear-gradient(var(--frame-color) 0 0) right / var(--frame-width) 100%,
      linear-gradient(var(--frame-color) 0 0) bottom right / 15% var(--frame-width),   transparent;
    background-repeat: no-repeat;
  }

  &.cu-component__frame--vibrant {
    --frame-color: var(--cu-color-brand, #{$cornell-red});
  }

  &.cu-component__frame--dark {
    --frame-color: #222;
  }
}
