.node--media-mention.node--view-mode-teaser .cu-x-media-mention__outlet,
.node--media-mention.node--view-mode-teaser-compact .cu-x-media-mention__outlet,
.node--media-mention.node--view-mode-featured .cu-x-media-mention__outlet {
  display: flex;
  gap: var(--cu-ps-1);
  align-items: center;
  width: 100%;
  margin-bottom: var(--cu-vr-1);
  order: -1;
  --cu-font-family: 'futura-pt';
  --cu-font-weight: 900;
  text-transform: uppercase;
}

.node--media-mention.node--view-mode-teaser .cu-x-media-mention__outlet::after,
.node--media-mention.node--view-mode-teaser-compact .cu-x-media-mention__outlet::after,
.node--media-mention.node--view-mode-featured .cu-x-media-mention__outlet::after {
  content: '';
  display: block;
  border-top: 2px solid #222;
  flex-grow: 1;
  height: 0;
}

.media-mention--mini {
  margin-bottom: var(--cu-vr1);
}

.media-mention__info {
  display: flex;
}

.media-mention__info > *:not(:last-child)::after {
  content: '-';
  display: inline-block;
  padding: 0 .5em;
}
