:root {
  --minibar-height: 60px;
}

.bvg--cornell-alternate-branding::before {
  display: block;
  content: '';
  background-color: $cornell-red;
  width: 100vw;
  height: var(--minibar-height);
  position: absolute;

  @include breakpoint(md) {
    height: var(--utility-nav-height);
  }
}

.cornell-minibar {
  background: $cornell-red;
  padding: var(--cu-vr-1) var(--cu-ps0) var(--cu-vr-3) 0;
  margin-bottom: var(--cu-vr1);
  flex: 0 0 100%; // Make it span the whole width.
  height: var(--minibar-height);

  @include breakpoint(md) {
    display: none;
  }
}

.cornell-minibar__link {
  display: inline-block;
}

.cornell-minibar__image {
  width: 180px;
}
