// Mega Menu via Menu Item Extras layout builder contents.
.menu_link_content {
  display: none;
  position: fixed;
  left: 0;
  width: 100%;
  background: white;
  border-bottom: 2px solid #ccc;
}

.cu-menu--main .cu-menu__item:hover .menu_link_content {
  @include breakpoint(md) {
    display: block;
  }
}

.menu_link_content a {
  text-decoration: none;
}

.menu_link_content h2 {
  font-size: var(--cu-text-lg);
  font-weight: 300;
}

// Adjust some of the menu item padding. This should eventually be modified in
// the Union ILR skin.
.cu-menu__link {
  padding: 0;
  text-align: left;

  @include breakpoint(md) {
    text-align: center;
  }
}

.cu-menu__item {
  margin: 0;
  padding: 0.5em 0;

  @include breakpoint(md) {
    margin: 0 .5em;
  }
}

.cu-menu--main {
  align-self: center;
}

.cu-header .cu-logo {
  padding-bottom: 0;
}

// Re-apply some simple styles for the content snipped from the D7 site.
.bean-mega-menu > .content {
  display: flex;
  justify-content: space-around;
}

.bean-mega-menu > .content > .field {
  margin: 0 1em;
}

// Temporary workaround to raise the logo over the mega menu.
#block-union-marketing-branding {
  @include breakpoint(md) {
    z-index: 20;
  }
}

// Override of Union ILR skin.
label[for="nav-trigger"] {
  right: 1.5rem;
  top: 35px;
}

#block-union-register-footer-menu {
  ul {
    display: flex;
    list-style: none;

    li {
      margin-right: 1em;

      a {
        color: $white;
      }
    }
  }
}

.subsite-menu {
  --cu-current-link-color: #{$black};
  font-size: var(--cu-ms-1);
  list-style-type: none;
  margin: 0;
  padding: 1.5rem 0;
}

.cu-header .subsite-menu {
  border-top: 1px solid $gray-light;
}

.subsite-menu__item {
  display: inline-block;
  padding: 0.25rem 1rem;
}

.subsite-menu__link {
  text-decoration: none;

  &.is-active {
    --cu-current-link-color: #{$cornell-red};
    font-weight: bold;
  }
}

// @todo: Note that this should move with the union main-menu header styles refactor.
.subsite .cu-header {
  flex-wrap: wrap;
  border: none;

  nav[id^="block-union-marketing-menu-subsite"] {
    flex-basis: 100%;
    flex-grow: 1;
  }
}

.paragraph--type--section-navigation {
  background-color: #efefef;
  padding: var(--cu-vr0) var(--cu-vr0) 0 var(--cu-vr0);

}

.section-menu {
  list-style-type: none;
  display: grid;
  padding: 0;
  grid-column-gap: 100px;

  @include breakpoint(sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint(md) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.section-menu__link {
  --cu-current-link-color: #{$black};
  --cu-header-accent-width: 15%;
  --cu-header-accent-padding: .25em 0 0 0;
  --cu-header-accent-border: 4px solid var(--cu-color-brand, #{$cornell-red});
  text-decoration: none;
  font-weight: 400;
  display: block;
  margin-bottom: var(--cu-vr0);

  // &::after {
  //   content: '';
  //   display: block;
  //   width: var(--cu-header-accent-width);
  //   max-width: 100%;
  //   padding: var(--cu-header-accent-padding);
  //   border-bottom: var(--cu-header-accent-border);
  //   transition: width ease-in .25s;
  // }

  // &:hover::after {
  //   width: var(--cu-header-accent-width-hover, calc(var(--cu-header-accent-width) * 2));
  // }
}
