// Mega Menu via Menu Item Extras layout builder contents.
.menu_link_content {
  display: none;
  position: fixed;
  left: 0;
  width: 100%;
  background: white;
  border-bottom: 2px solid #ccc;
}

.cu-menu--main .cu-menu__item:hover .menu_link_content {
  @include breakpoint(md) {
    display: block;
  }
}

.menu_link_content a {
  text-decoration: none;
  --cu-font-size: var(--cu-ms-2);
}

.menu_link_content h2 {
  font-size: var(--cu-ms1);
  font-weight: 300;
}

// Adjust some of the menu item padding. This should eventually be modified in
// the Union ILR skin.
.cu-menu__link {
  padding: 0;
  text-align: left;
  --cu-font-size: var(--cu-ms-2);
  --cu-text-color: #222;

  @include breakpoint(md) {
    text-align: center;
  }
}

.cu-menu__item {
  margin: 0;
  padding: 0.5em 0;

  @include breakpoint(md) {
    margin: 0 .5em;
  }
}

.cu-menu--main {
  align-self: center;
}

.cu-header .cu-logo {
  padding-bottom: 0;
}

// Re-apply some simple styles for the content snipped from the D7 site.
.bean-mega-menu > .content {
  display: flex;
  justify-content: space-around;
  line-height: 1.2;
  margin-top: 1em;
}

.bean-mega-menu > .content > .field {
  margin: 0 1em;
}

// Temporary workaround to raise the logo over the mega menu.
#block-union-marketing-branding {
  @include breakpoint(md) {
    z-index: 20;
  }
}

// Override of Union ILR skin.
label[for="nav-trigger"] {
  right: 1.5rem;
  top: 35%;
  line-height: 1;
}

#block-union-register-footer-menu {
  ul {
    display: flex;
    list-style: none;

    li {
      margin-right: 1em;

      a {
        color: $white;
      }
    }
  }
}

.cu-menu__list--subsite {
  --cu-text-color: #{$black};
  font-size: var(--cu-ms-1);
  list-style-type: none;
  margin: var(--cu-vr1) 0 0;
  padding: var(--cu-vr1) 0;
  border-top: 1px solid $gray-light;
  justify-content: flex-start;
  top: 120px;
  left: 0;

  @include breakpoint(md) {
    top: auto;
    padding-bottom: 0;
  }

  .cu-menu__list--subsite-submenu {
    padding: 0;
    display: flex;
    flex-direction: column;

    @include breakpoint(md) {
      display: none;
    }
  }
}

.cu-menu__list--subsite .cu-menu__item {
  display: inline-block;
  padding: 0.25rem 1rem;
}

.cu-menu__list--subsite .cu-menu__link {
  text-decoration: none;
  padding: 0.5rem 0;

  @include breakpoint(md) {
    padding: 0;
  }

  &.is-active {
    --cu-text-color: #{$cornell-red};
    font-weight: bold;
  }
}

.nav-trigger:checked~.cu-menu__list--subsite {
  position: fixed;
  left: 1em;
}

// @todo: Note that this should move with the union main-menu header styles refactor.
nav[id^="block-union-marketing-menu-subsite"] {
  position: relative;

  @include breakpoint(sm) {
    flex-basis: 100%;
    flex-grow: 1;
    min-height: 40px;
  }

  label[for="nav-trigger"] {
    top: -12px; // Half its height, for vertical centering.
    right: 0;

    @include breakpoint(xs) {
      right: var(--cu-vr1);
    }

    @include breakpoint(sm) {
      left: 0;
      top: 0.5em;
    }
  }
}

.cu-component--section-navigation {
  background-color: #efefef;
}

.section-menu {
  list-style-type: none;
  display: grid;
  padding: var(--cu-vr1) var(--cu-ps1);
  margin: 0;
  column-gap: 5em;

  &--short {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;

    @include breakpoint(sm) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  @include breakpoint(sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint(md) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.section-menu__link {
  --cu-text-color: #{$black};
  --cu-accent-width: 15%;
  text-decoration: none;
  font-weight: 400;
  display: block;
  margin-bottom: var(--cu-vr0);
}

// Breadcrumb overrides here
.node--story .cu-breadcrumb {
  margin: var(--cu-vr0) 0;
}

.node--story .cu-breadcrumb__item {
  --cu-text-color: #{$black};
}

// Nav moved into Banner via js.
// @see union_marking/banner_nav.js
.include-banner-nav {
  .cu-banner {
    margin-bottom: 0;
  }

  .section-menu {
    max-width: var(--cu-max-section-width, 1060px);
    margin-left: auto;
    margin-right: auto;

    .section-menu__link {
      --cu-font-size: var(--cu-ms-3);
      --cu-font-weight: 400;
      --cu-accent-width: 46px;
      --cu-accent-width-hover: 60px;
      --cu-accent-margin: 0.5em 0 0 0;
      text-transform: uppercase;
    }
  }
}
