.news-archive a {
  color: var(--cu-current-link-color, #{$cornell-red});
}

.news-archive__summary-links ul {
  padding: 0;
  margin-bottom: var(--cu-vr2);
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  li {
    margin-right: var(--cu-ps1);
  }

  .is-active {
    font-weight: 600;
  }
}
