.framed > *:last-child .field-type--text-with-summary {
  @include breakpoint(lg) {
    max-width: 80%;
  }
}

.cu-banner--page {
  margin-bottom: var(--cu-component-margin-bottom, var(--cu-vr2));

  @include breakpoint(md) {
    margin-bottom: var(--cu-component-margin-bottom, var(--cu-vr3));
  }
}
