body.persona .cu-header {
  margin-bottom: var(--cu-vr1);
}

.persona--full {
  display: flex;
  flex-direction: column;

  .field.field--field-photo {
    margin-bottom: var(--cu-vr1);

    .cu-image {
      border-radius: 50%;
    }
  }

  h1.cu-heading {
    @include framed(right);
  }

  .field--field-title {
    --cu-font-size: var(--cu-ms1);
    --cu-font-weight: 400;
    margin-bottom: var(--cu-vr-1);
  }

  .field--field-phone,
  .field--field-fax {
    --cu-font-size: var(--cu-ms-1);
  }

  @include breakpoint(sm) {
    display: grid;
    grid-column-gap: var(--cu-ps1);
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 1fr;

    .persona--primary {
      grid-row: span 2;
    }

    .field--field-bio {
      margin-right: var(--cu-ps1);
    }

    .field--field-bio > h2:first-of-type {
      margin-top: var(--cu-vr1);
    }
  }
}

.cu-person--adaptive {
  .cu-composite-heading__body {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .cu-icon {
    --cu-text-color: #{$cornell-red};
    display: flex;
    padding: 0;
  }
}

.cu-person--featured .persona__name {
  --cu-line-height: 1.1;
}

.persona--tabular-item {
  margin-bottom: var(--cu-vr0);
  border-bottom: 1px solid #ccc;

  @include breakpoint(sm) {
    display: grid;
    column-gap: var(--cu-ps1);
    grid-template-columns: 100px 1fr;
  }

  @include breakpoint(md) {
    display: flex;
    flex-direction: row;
  }

  > * {
    vertical-align: top;

    @include breakpoint(sm) {
      &:not(.persona__photo) {
        grid-column: 2;
      }
    }

    @include breakpoint(md) {
      &:not(.persona__photo) {
        flex-basis: 20%;
      }
      &.persona__phone {
        flex-basis: 16.6666666%;
      }
    }
  }

  .persona__name.cu-heading {
    margin-bottom: var(--cu-vr-2);
  }

  .field--field-title {
    .field__item  {
      line-height: 1.1;
      margin-bottom: var(--cu-vr-1);
    }
  }

  .field--field-campus-address {
    --cu-line-height: 1.2;
  }
}
