.persona--full {
  display: flex;
  flex-direction: column;

  .field.field--field-photo {
    text-align: center;
    margin-bottom: var(--cu-vr1);

    .cu-image {
      border-radius: 50%;
    }
  }

  .persona__name {
    @include framed(right);
    font-size: var(--cu-text-xxl);
  }

  .field--field-title {
    font-family: var(--cu-heading-font-family);
    font-size: var(--cu-text-lg);
    margin-bottom: var(--cu-vr-1);
  }

  .field--field-phone {
    font-size: var(--cu-ms-1);
    margin-bottom: var(--cu-vr0);
  }

  @include breakpoint(sm) {
    display: grid;
    grid-column-gap: var(--cu-ps1);
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(5, auto);

    .field.field--field-photo {
      grid-column: 1;
      grid-row: 1/-1;
    }

    .persona__name {
      grid-column: 2/-1;
    }

    >.field {
      grid-column: 2/-1;
    }

    .field--field-bio {
      margin-right: var(--cu-ps1);
    }
  }
}
