body.persona .cu-header {
  margin-bottom: var(--cu-vr1);
}

.persona--full {
  display: flex;
  flex-direction: column;

  .field.field--field-photo {
    text-align: center;
    margin-bottom: var(--cu-vr1);

    .cu-image {
      border-radius: 50%;
    }
  }

  h1.cu-heading {
    @include framed(right);
  }

  .field--field-title {
    --cu-font-size: var(--cu-ms1);
    --cu-font-weight: 400;
    margin-bottom: var(--cu-vr-1);
  }

  .field--field-phone {
    --cu-font-size: var(--cu-ms-1);
    margin-bottom: var(--cu-vr0);
  }

  @include breakpoint(sm) {
    display: grid;
    grid-column-gap: var(--cu-ps1);
    grid-template-columns: 1fr 2fr;

    .field.field--field-photo {
      grid-column: 1;
      grid-row: 1/20;
    }

    .cu-heading {
      grid-column: 2;
    }

    >.field {
      grid-column: 2;
    }

    .field--field-bio {
      margin-right: var(--cu-ps1);
    }

    .field--field-bio > h2:first-of-type {
      margin-top: var(--cu-vr1);
    }
  }
}

.cu-person--adaptive {
  .cu-composite-heading__body {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .cu-icon {
    --cu-text-color: #{$cornell-red};
    display: flex;
    padding: 0;
  }
}

.cu-person--featured .persona__name {
  --cu-line-height: 1.1;
}

@include breakpoint(md) {
  .cu-list--tabular-list {
    display: table;
    width: 100%;
  }
}

.persona--tabular-item {
  margin-bottom: var(--cu-vr0);
  border-bottom: 1px solid #ccc;

  @include breakpoint(sm) {
    display: grid;
    column-gap: var(--cu-ps1);
    grid-template-columns: 100px 1fr;
  }

  @include breakpoint(md) {
    display: table-row;
  }

  > * {
    vertical-align: top;

    @include breakpoint(sm) {
      &:not(.persona__photo) {
        grid-column: 2;
      }
    }

    @include breakpoint(md) {
      display: table-cell;
      padding: var(--cu-vr0) var(--cu-ps-1) var(--cu-vr0) 0;
      border-bottom: 1px solid #ccc;
    }
  }
}
