.article--postalicious {
  .cu-section {
    display: grid;
    row-gap: var(--cu-vr0);

    @include breakpoint(sm) {
      display: grid;
      grid-template-columns: 3fr 2fr;
      grid-auto-flow: dense;
      align-items: start;
      column-gap: var(--cu-ps1);

      > * {
        grid-column: 1;
      }

      div[class$='field-representative-image'] {
        grid-column: 2;
      }

      div[class$='field-components'],
      .block-field-block--node--post--field-blog-tags {
        display: block;
        grid-column: 1/-1;
        margin-top: var(--cu-component-margin-bottom, var(--cu-vr2));
      }

      div[class$='field-components']:first-child {
        margin-top: 0;
      }

      .block-better-social-sharing-buttons {
        display: flex;
        grid-column: 2;
      }
    }

    .cu-section-heading {
      margin: 0;
      align-items: flex-start;
    }

    .social-sharing-buttons {
      margin: 0;
    }
  }

  .persona__name {
    margin-bottom: 0;
  }
}

// Posts in modals
.cu-modal .article--postalicious {
  .cu-section {
    display: block;
    margin: 0;
  }

  .cu-banner--page,
  .field--field-blog-tags {
    display: none;
  }

  .collection > div {
    margin: 0;
  }
}

.collection-listing .field-type--entity-reference {
  display: contents;
}

.node--postalicious.node--view-mode-mini {
  margin-bottom: var(--cu-vr1);
}

.post__info {
  display: flex;
}

.post__info > *:not(:last-child)::after {
  content: '-';
  display: inline-block;
  padding: 0 .5em;
}

.content--evergreen .field--field-published-date {
  display: none;
}

.cu-topic-list__item .cu-card .field--field-published-date {
  margin: 0;
  font-size: 12px;
}
