.article--post,
.article--post-experience-report {
  .cu-section {
    @include breakpoint(md) {
      display: grid;
      grid-template-columns: 3fr 2fr;
      column-gap: var(--cu-vr1);

      .cu-section-heading {
        margin: 0;
        text-align: left;
      }

      .block-field-block--node--post--field-representative-image {
        grid-row: 1/4;
        grid-column: 2;
      }

      .block-field-block--node--post--field-components,
      .block-field-block--node--post--field-blog-tags {
        display: block;
        grid-column: 1/-1;
      }

      .block-field-block--node--post--field-published-date {
        grid-column: 1;
        margin-bottom: var(--cu-component-margin-bottom, var(--cu-vr3));
      }

      .block-better-social-sharing-buttons {
        display: flex;
        grid-column: 2;
      }
    }

    .block-field-block--node--post--field-representative-image {
      margin-bottom: var(--cu-vr1);
    }

    .block-field-block--node--post--field-subtitle {
      grid-column: 1;
    }
  }

  .persona__name {
    margin-bottom: 0;
  }
}

.collection-listing .field-type--entity-reference {
  display: contents;
}

.node--post.node--view-mode-mini {
  margin-bottom: var(--cu-vr1);
}

.post__info {
  display: flex;
}

.post__info > *:not(:last-child)::after {
  content: '-';
  display: inline-block;
  padding: 0 .5em;
}

.content--evergreen .field--field-published-date {
  display: none;
}
