.persona.profile {
  display: grid;
  row-gap: var(--cu-vr3);

  @include breakpoint(md) {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(5, auto);
    column-gap: var(--cu-ps4);
    // max-width: var(--cu-max-width-section);
    // margin: 0 auto;
  }

  .profile__header,
  .profile__footer {
    grid-column: 1/-1;
  }

  .profile__footer {
    @include breakpoint(md) {
      padding-left: var(--cu-ps4);
      padding-right: var(--cu-ps4);
    }
  }

  .profile__banner {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto auto auto;
    column-gap: var(--cu-ps4);
    padding: 0 0 0 var(--cu-ps2);

    background:
     linear-gradient($black 0 0) top left / var(--cu-ps1) 16px,
     linear-gradient($black 0 0) left / 16px 100%,
     linear-gradient($black 0 0) bottom left / var(--cu-ps5) 16px, transparent;
    background-repeat: no-repeat;

    @include breakpoint(md) {
      grid-template-columns: 1fr 1.125fr;
      grid-template-rows: auto 1fr auto auto 75px;
      padding: 0 0 0 var(--cu-ps4);
      background:
       linear-gradient($black 0 0) top left / var(--cu-ps3) 16px,
       linear-gradient($black 0 0) left / 16px 100%,
       linear-gradient($black 0 0) bottom left / var(--cu-ps5) 16px, transparent;
      background-repeat: no-repeat;
    }

    .profile__secondary {
      margin: var(--cu-vr1) 0 var(--cu-vr2) 0;

      @include breakpoint(md) {
        grid-row: 1/-1;
        grid-column: 2;
        margin: unset;
      }
    }

    .profile__eyebrow {
      grid-row: 1;
      text-transform: uppercase;
      opacity: 0.7;
      font-size: var(--cu-ms-4);
      font-weight: 700;
      line-height: 1;
      letter-spacing: 0.05em;
      margin-bottom: var(--cu-vr-1);

      // This is a hack because the name/heading below uses futura, which seems to all a few pixels to the left of most letters.
      // margin-left: 4px;
    }

    h1.cu-heading {
      @include breakpoint(md) {
        --cu-font-size: var(--cu-ms10);
      }
      --cu-font-family: 'futura-pt';
      text-transform: uppercase;
      line-height: 1;
    }

    .field--field-title {
      --cu-font-weight: 400;
      --cu-line-height: 1.25;
      display: flex;
      flex-direction: column;
      gap: var(--cu-vr-1);
    }

    .field--field-department {
      --cu-font-size: var(--cu-ms-2);
    }
  }

  .profile__content {
    @include breakpoint(md) {
      grid-column: 1;
      grid-row: 2;
      padding-left: var(--cu-ps4);
    }

    .field__label {
      font-weight: 400;
      font-size: var(--cu-ms5);
      margin-bottom: var(--cu-vr-1);
    }
  }

  .profile__sidebar {
    margin-bottom: var(--cu-vr2);

    @include breakpoint(md) {
      grid-column: 2;
      padding-right: var(--cu-ps4);
      margin-bottom: unset;
    }
  }

  .profile__meta {
    background: $gray-lightest;
    padding: var(--cu-vr1) var(--cu-ps1);

    .field {
      margin-bottom: var(--cu-vr1);
    }

    .cu-heading,
    .field__label {
      font-size: var(--cu-ms1);
      font-weight: normal;
      margin-bottom: var(--cu-vr-1);
    }
  }

  .cu-breadcrumb {
    // margin: 0;
  }

  .cu-section {
    max-width: 100%;

    .cu-component--rich-text {
      max-width: 740px;
    }
  }

  // Never let the full-bleed section background be wider than the viewport on
  // small screens. @TODO Consider moving this to Union.
  .cu-section[class*="cu-colorscheme"]::before {
    width: 100vw;

    @include breakpoint(md) {
      width: 150vw;
    }
  }
}
