.article--projectalicious.node--view-mode-full .block-field-block--node--project--field-representative-image,
.article--projectalicious.node--view-mode-full .layout--twocol-section {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}

.article--projectalicious.node--view-mode-full  {

  a:not([class*="cu-"]) {
    color: var(--cu-color-brand);
    font-weight: 400;
  }

  .block-system-breadcrumb-block,
  .block-field-block--node--project--field-representative-image {
    // margin-top: var(--cu-vr1);
    margin-bottom: var(--cu-vr1);
  }

  .layout--twocol-section--67-33 {
    display: block;
    margin-top: var(--cu-vr2);

    @include breakpoint(md) {
      display: grid;
      gap: var(--cu-ps3);
      grid-template-columns: 2.25fr 1fr;
      // align-items: start;
    }
  }

  .layout__region--first,
  .layout__region--second {
    display: block;

    > * + * {
      margin: var(--cu-vr2) 0;
    }
  }

  @include breakpoint(md) {
    .layout__region--second .cu-heading {
      --cu-font-size: var(--cu-ms1);
    }
  }

  summary {
    margin-left: calc(1.75rem * -1);
  }

  summary::marker {
    color: var(--cu-color-brand);
    font-size: 1.75rem;
  }

  summary .cu-heading {
    display: inline-block;
    margin: 0;
  }

  .paragraph--type--rich-text.paragraph--view-mode--expanded {
    --cu-component-margin-bottom: 0;
    padding: var(--cu-vr0) 1.75rem;
    border-top: 1px solid var(--cu-color-gray);

    &[open] summary .cu-heading {
      margin-bottom: var(--cu-vr0);
    }
  }
}

div[class$="-focus-areas"].term--view-mode-full {
  --cu-max-width-section: 915px;
  margin: 0 auto;

  .block-layout-builder {
    max-width: var(--cu-max-width-section);
    margin: 0 auto;
  }

  div[class$="-focus-areas--name"] {
    margin-bottom: var(--cu-vr3);
    padding: var(--cu-vr2) 0 var(--cu-vr2) 0;
    position: relative;

    @include breakpoint(sm) {
      padding: var(--cu-vr2) 0 var(--cu-vr2) 0;
    }

    .cu-heading {
      --cu-font-size: var(--cu-ms5);

      @include breakpoint(sm) {
        --cu-font-size: var(--cu-ms10);
      }
    }
  }

  div[class$="-focus-areas--description"] {
    margin-bottom: var(--cu-vr3);
  }

  h2.cu-heading {
    --cu-font-size: var(--cu-ms5);

    &::after {
      content: '';
      margin-top: 20px;
      display: var(--cu-composite-heading-accent-display, block);
      width: 60px;
      height: 8px;
      background: var(--cu-colorscheme-accent);
    }
  }
}

.article--project.node--view-mode-mini h3 {
  --cu-font-size: var(--cu-ms0);
  margin: 0;
}

.cu-component--project-listing.cu-list--list-compact {
  .article--project {
    margin-bottom: var(--cu-vr-2);
  }
}

.cu-component--project-listing.cu-list--select-list {
  position: relative;
  margin: 0 0 var(--cu-vr1) 0;
  background: white;
  height: 3rem;
  overflow: hidden;
  border: 1px solid $gray-light;
  border-radius: 5px;
  transition-duration: 0.25s;
  transition-property: transform;

  &:hover,
  &.select-list--expanded {
    overflow-y: scroll;
    height: 400px;
  }

  .project-list__trigger {
    position: absolute;
    transition-duration: 0.25s;
    transition-property: transform;
    padding: 12px;
    top: 0;
    right: 0;
    color:#757575;

    @include breakpoint(md) {
      display: none;
    }
  }

  a {
    text-decoration: none;
  }

  .field--title {
    --cu-text-color: #757575;
    text-decoration: none;
    display: block;
    background: white;
    min-height: 3rem;
    padding: 1em 1em 0 1em;
    line-height: 1;

    &:hover {
      background: $gray-lightest;
    }
  }

  &.select-list--expanded .project-list__trigger {
    transform: rotate(180deg);
  }
}

.article--projectalicious.node--view-mode-simple-compact {
  margin-bottom: var(--cu-vr1);

  .cu-heading {
    --cu-font-size: var(--cu-ms0);
    margin-bottom: var(--cu-vr-1);
  }

  .node__content {
    margin-left: var(--cu-ps0);
  }
}
