#block-union-marketing-publication-branding {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: var(--cu-max-width-section, #{$max-width-section});
}

.publication-logo {
  width: 45vw;
  line-height: 1;
  text-decoration: none;

  @include breakpoint(sm) {
    width: 30vw;
    max-width: 440px;
  }
}

.publication-logo--small {
  width: 24vw;

  @include breakpoint(sm) {
    width: 12vw;
  }
}

.publication-logo--subtitle {
  font-size: 5vw;

  @include breakpoint(sm) {
    font-size: 2.5vw;
  }
}

.publication-logo--issue {
  width: 100%;
}
