.cu-registration-form {
  background: var(--cu-color-bg-light, #{$gray-lightest});
  padding: var(--cu-vr1) var(--cu-ps1);

  &__active-price {
    --cu-current-font-size: var(--cu-text-xxl);
    --cu-current-font-weight: var(--cu-heading-font-weight);
    margin: 0 auto var(--cu-vr1);
    max-width: var(--cu-max-width-section, #{$max-width-section});
  }

  @include breakpoint(md) {
    .cu-checkbutton__indicator {
      flex-basis: 10%;
    }
    .cu-checkbutton__content {
      flex-basis: 80%;
      display: flex;
      padding-right: 0;

      .price {
        flex-grow: 1;
        align-self: flex-end;
        text-align: right;
      }

      .class-sessions {
        margin-bottom: var(--cu-vr-1);
      }

      .class-message {
        font-size: var(--cu-ms-1);
      }
    }
  }

  &__form {
    margin: 0 auto;
    max-width: var(--cu-max-width-section, #{$max-width-section});

    @include breakpoint(md) {
      .cu-checkbutton__label {
        margin: 0;
      }

      .cu-input--submit--alt {
        margin-bottom: 0;
      }
    }

    .cu-input--submit--alt {
      margin-top: var(--cu-vr0);

      @include breakpoint(sm) {
        margin-top: 0;
      }
    }
  }

  .cu-checkbutton {
    margin-bottom: var(--cu-vr1);
  }

  .cu-checkbutton--disabled .field--field-class-date,
  .cu-checkbutton--disabled .cu-class-session-date {
    text-decoration: line-through;
    text-decoration-color: $cornell-red;
    text-decoration-thickness: 2px;
  }

  .cu-class-delivery-method {
    font-weight: bold;
  }

  .field--field-address {
    display: inline-block;
  }

  .cu-js-register-link:not([href]) {
    background-color: #666;
    border-color: #333;
    opacity: .5;
  }
}

.cu-registration-form .message__content {
  border: 3px solid $cornell-red;
  padding: var(--cu-vr0) var(--cu-vr0) 0;
  margin-bottom: var(--cu-vr1);
}

.in-page-signup-jump {
  display: none;
  color: white;
  font-weight: 400;
  cursor: pointer;
}

.in-page-signup-jump.js {
  display: initial;
}

.block-webform.js-modal {
  --horizontal-margin: 7.5vw;
  position: fixed;
  top: 5vh;
  left: var(--horizontal-margin);
  width: calc(100vw - 2 * var(--horizontal-margin));
  max-height: 95vh;
  z-index: 100;
  background: white;
  padding: var(--cu-vr1);
  overflow-y: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .25);

  @include breakpoint(md) {
    --horizontal-margin: 15vw;
  }
}
