#block-union-marketing-searchform {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #222;
  z-index: 30;
  font-size: larger;
}

#ilr_search_reveal:checked + #block-union-marketing-searchform {
  display: block;
}

#ilr_search_reveal {
  display: none;
}

#cu-search-form {
  display: flex;
  justify-content: flex-end;
}

#cu-search-form .searchBtn,
#cu-search-form .closeSearch {
  background: transparent;
  border: none;
  color: white;
  font-size: 1.5em;
}

#ilr_search_reveal_trigger {
  font-size: 1.5rem;
}

#ilr_search_reveal_trigger,
#cu-search-form .searchBtn {
  transform: rotate(-45deg);
  display: block;
}

#ilr_search_reveal_trigger::before,
#cu-search-form .searchBtn::before {
  content: "⚲";
  // content: "𐌒";
}

#cu-search-form .closeSearch::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24' stroke='white' stroke-width='2' fill='none' stroke-linecap='round' stroke-linejoin='round' class='css-i6dzq1'%3E%3Cline x1='18' y1='6' x2='6' y2='18'%3E%3C/line%3E%3Cline x1='6' y1='6' x2='18' y2='18'%3E%3C/line%3E%3C/svg%3E");
}

#search-form-query {
  border: none;
  padding: 0 0 0 15px;
  background: #222;
  color: white;
  margin: 1.5em 1em 1.5em 0;
  width: 60%;

  @include breakpoint(xs) {
    flex-grow: 1;
    width: 100%;
  }
}

#search-form-query::placeholder {
  color: white;
  opacity: 1;
}
