.views-field-search-api-excerpt {
  margin-bottom: var(--cu-vr2);

  a {
    color: $black;
    text-decoration: none;
  }
}

.collection--resource-library {
  .layout__region--first {
    padding-right: var(--cu-ps2);
  }

  .layout__region--first,
  .layout__region--second {
    display: block;
  }

  .block-facet--checkbox {
    padding: 0;

    ul {
      list-style-type: none;
      padding-left: 0;
      margin-top: 0;
    }
  }

  .facets-checkbox {
    margin-right: .4em; // This might add to the theme debugging.
  }

  .block-facets {
    border: 2px solid #ccc;
    margin-bottom: var(--cu-vr1);
    padding: .5em 1em;
    border-radius: 3px;

    summary {
      margin-bottom: 0;
    }

    .facets-widget-checkbox {
      margin-top: var(--cu-vr0);
    }
  }
}

.resource-library-search-view {
  header ~ .cu-heading {
    margin-top: var(--cu-vr1);
  }

  header {
    padding: 0;

    .block-facets-summary ul {
      list-style-type: none;
      padding: 0 0 var(--cu-vr1) 0;
      margin: 0;
      columns: unset; // This is from the global layout footer, which we should fix.
      display: flex;
      gap: var(--cu-ps-1);
    }

    .facet-summary-item--facet,
    .facet-summary-item--search-string {
      padding: var(--cu-vr-2) var(--cu-ps-1);
      // border: 1px solid #ccc;
      border-radius: 3px;
      background-color: var(--cu-color-brand);

      a {
        color: white;
        font-weight: 400;
        text-decoration: none;
      }

      .facet-item__status {
        padding-left: .5em;
      }
    }
  }

  .node--search-result {
    margin-bottom: var(--cu-vr-2);

    a {
      color: var(--cu-color-brand);
    }

    .post__info {
      display: inline;
      --cu-font-size: .8rem;
      font-size: .8rem;
      line-height: 1;

      .field--field-published-date {
        display: inline;
      }
    }
  }

  .cu-form.views-exposed-form {
    display: flex;
    gap: var(--cu-ps0);
    align-items: center;

    .cu-input {
      border-width: 2px;
    }
  }
}
