// Tmp
#jsg-grid {
  pointer-events: none;
}

.cu-section {
  --cu-max-width-section: 1130px;
  clear: both;
  margin-bottom: var(--cu-component-margin-bottom, var(--cu-vr2));

  @include breakpoint(md) {
    margin-bottom: var(--cu-component-margin-bottom, var(--cu-vr3));
  }
}

.cu-section--left {
  grid-template-columns: 1.3fr 2fr;
  gap: 32px;
}

.cu-section--left.cu-section--wide {
  grid-template-columns: 432px auto;
}

// On certificates, courses and topics the course finder is the first thing on
// the page (above the banner). When this is the case, shrink the bottom margin.
.layout__region--content > .views-element-container.cu-section--wide {
  margin-bottom: var(--cu-vr1);
}

// If it shows up directly below the banner, restore the standard section
// margins.
.layout-banner + .layout--onecol .views-element-container.cu-section--wide {
  --cu-component-margin-bottom: var(--cu-vr2);

  @include breakpoint(md) {
    --cu-component-margin-bottom: var(--cu-vr3);
  }
}

.field--field-sections .cu-section-heading__link,
.paragraphs-previewer-html .cu-section-heading__link {
  order: 3;
}

figure.cu-media,
.cu-component--image,
.cu-component--video {
  margin: var(--cu-component-margin-bottom, var(--cu-vr2)) 0;

  @include breakpoint(md) {
    margin: var(--cu-component-margin-bottom, var(--cu-vr3)) 0;
  }
}

.cu-section--wide .cu-component--rich-text {
  max-width: var(--cu-max-width-section, 1060px);
  margin-left: auto;
  margin-right: auto;
}

.cu-component--rich-text {
  // overflow: hidden; // TODO deal with effects on inner block element margins (e.g. blockquote)
}

// Clear floats from rich text media for adjacent components (e.g. paragraphs).
.cu-component--rich-text + .cu-component {
  clear: both;
}

.paragraphs-previewer-html .cu-section.paragraph--unpublished {
  display: unset;
}
