.cu-section {
  clear: both;
  margin-bottom: var(--cu-component-margin-bottom, var(--cu-vr2));

  @include breakpoint(md) {
    margin-bottom: var(--cu-component-margin-bottom, var(--cu-vr3));
  }
}

// On certificates, courses and topics the course finder is the first thing on
// the page (above the banner). When this is the case, shrink the bottom margin.
.layout__region--content > .views-element-container.cu-section--wide {
  margin-bottom: var(--cu-vr1);
}

// If it shows up directly below the banner, restore the standard section
// margins.
.layout-banner + .layout--onecol .views-element-container.cu-section--wide {
  --cu-component-margin-bottom: var(--cu-vr2);

  @include breakpoint(md) {
    --cu-component-margin-bottom: var(--cu-vr3);
  }
}

.field--field-sections .cu-section-heading__link,
.paragraphs-previewer-html .cu-section-heading__link {
  order: 3;
}

figure.cu-media,
.cu-component--image,
.cu-component--video {
  margin: var(--cu-component-margin-bottom, var(--cu-vr2)) 0;

  @include breakpoint(md) {
    margin: var(--cu-component-margin-bottom, var(--cu-vr3)) 0;
  }
}

.cu-section--wide .cu-component--rich-text {
  max-width: var(--cu-max-width-section, 1060px);
  margin-left: auto;
  margin-right: auto;
}

.cu-section--contrast {
  position: relative;
  padding: var(--cu-vr2) 0 var(--cu-vr3) 0;

  &::before {
    content: '';
    width: calc(2 * 100vw);
    height: 100%;
    left:-100vw;
    top:0;
    background-color: #efefed; //#F7F6F6;
    position: absolute;
    z-index: -1; // Replace with position:relative on the section heading element.
  }
}

.cu-component--rich-text {
  // overflow: hidden; // TODO deal with effects on inner block element margins (e.g. blockquote)
}

// Clear floats from rich text media for adjacent components (e.g. paragraphs).
.cu-component--rich-text + .cu-component {
  clear: both;
}

.cu-section.paragraph--unpublished {
  display: none;
}

.paragraphs-previewer-html .cu-section.paragraph--unpublished {
  display: unset;
}
