.social-sharing-buttons {
  // `display: flex` is set in better_social_sharing_buttons.css in the Drupal
  // module.
  gap: 1em;
  align-items: flex-start;
  justify-content: start;

  @include breakpoint(sm) {
    flex-direction: column;
    position: absolute;
  }

  a {
    margin: 0;
  }
}

.social-sharing-buttons__button {
  svg {
    background: #F7F6F6;
  }
}

/* Social Footer */
#block-union-marketing-social-follow {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @include breakpoint(sm) {
    justify-content: flex-end;
  }
}

.twitter-timeline {
  width: 100% !important;

  iframe {
    max-width: 80vw;
    width: auto !important;
  }
}
