.cu-card.cu-component--stats {
  padding: var(--cu-vr1) var(--cu-ps1);

  @include breakpoint(md) {
    padding: var(--cu-vr3) var(--cu-ps1);
  }

  .cu-card__content {
    align-items: center;

    > p:last-of-type,
    .cu-card__meta,
    .field--field-components {
      margin-bottom: var(--cu-vr2);
    }

    > p {
      max-width: 30rem;
      text-align: center;
    }
  }

  .field--field-components {
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
    grid-template-rows: auto 1px;
    gap: var(--cu-ps1);
    text-align: center;

    @include breakpoint(md) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .stat-divider {
    content: '.';
    display: block;
    width: 1px;
    height: 5rem;
    background-color: var(--cu-text-color);
    opacity: .5;

    &:nth-of-type(even) {
      width: 100%;
      height: 1px;
      grid-column: 1/-1;

      @include breakpoint(md) {
        display: block;
        width: 1px;
        height: 5rem;
      }
    }

    &:last-of-type {
      display: none;
    }
  }

  .cu-heading {
    --cu-font-family: futura-pt;
    --cu-font-size: var(--cu-ms4);
    text-transform: uppercase;
    line-height: 1;

    @include breakpoint(md) {
      --cu-font-size: var(--cu-ms8);
    }
  }

  .field--field-links {
    display: flex;
    flex-direction: column;
    gap: var(--cu-ps1);
    width: 100%;
    text-align: center;

    @include breakpoint(md) {
      flex-direction: row;
      width: unset;
    }

    .field__item {
      border: 2px solid var(--cu-colorscheme-accent);

      a {
        display: inline-block;
        padding: var(--cu-vr-2) var(--cu-ps1);
        font-weight: 600;
        font-size: var(--cu-ms-2);
        text-decoration: none;
        letter-spacing: 5%;
      }
    }
  }
}

.cu-component--stat {
  &:last-of-type:nth-of-type(odd) {
    grid-column: 1/-1;
  }

  .field--field-heading {
    margin-bottom: var(--cu-vr-2);
  }

  .field--field-subheading {
    --cu-font-size: var(--cu-ms-2);
    --cu-font-weight: 600;
  }
}

// field--field-components is a paragraph field on tab_item that only references the `stat` paragraph type.
.cu-tabs__content .field--field-components {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1em;
  align-items: stretch;

  .cu-component--stat {
    display: grid;
    grid-template-rows: repeat(2, auto);
    justify-items: center;
  }

  .cu-component--stat:not(:last-child) {
    grid-template-columns: repeat(2, auto);
  }

  .cu-component--stat:not(:last-child):after {
    content: '';
    display: inline;
    grid-column: 2;
    grid-row: 1/-1;
    width: 1px;
    height: 100%;
    background-color: var(--cu-text-color);
    opacity: .5;
    margin: 0 1em;
  }

  .field--field-heading {
    --cu-font-family: 'futura-pt';
    --cu-font-size: var(--cu-ms3);

    @include breakpoint(md) {
      --cu-font-size: var(--cu-ms8);
    }
  }

  .field--field-subheading {
    max-width: 5rem;
    text-align: center;
  }
}
