// @todo: Consider whether --primary should belong in Union.
.cu-section-heading--primary .cu-heading {
  --cu-current-heading-size: var(--cu-ms7);

  @include breakpoint(md) {
    --cu-current-heading-size: var(--cu-ms9);
  }
}

.node--view-mode-full .story__intro {
  font-size: var(--cu-ms4);
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;

  @include breakpoint(md) {
    font-size: var(--cu-ms7);
  }
}

.cu-heading--strong.cu-heading--banner {
  @include breakpoint(sm) {
    max-width: 30%;
    font-size: var(--cu-ms9);
  }
}

// Override the frame settings here
.cu-banner .framed--right >:first-child {
  grid-template-columns: 1fr 100px;
}

.cu-banner .framed:last-child .field-type--text-with-summary {
  @include breakpoint(sm) {
    max-width: 60%;
  }

  @include breakpoint(md) {
    max-width: 50%;
  }

  @include breakpoint(lg) {
    max-width: 40%;
  }
}
