%tabs {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  border-bottom: 1px solid $color-border;
  padding: 0;

  li {
    display: block;
    padding-right: 0 0.5rem;

    + li {
      padding-left: 0.5rem;
    }

    a {
      display: block;
      color: $color-link;
      text-decoration: none;
      padding: 0 0.75rem 0.5rem;

      &.is-active,
      &:hover {
        border-bottom: 1px solid $color-link;
      }
    }
  }
}

#block-union-marketing-local-tasks {
  --cu-font-size: var(--cu-ms-1);

  > ul {
    @extend %tabs;
  }
}

.cu-component--tabs {
  .shout {
    font-size: var(--cu-ms3);

    @include breakpoint(md) {
      font-size: var(--cu-ms6);
      font-weight: 400;
      line-height: 1.2;
    }
  }
}
