// This is basic formatting for tables until we create a Union component.

.cu-component--rich-text caption {
  padding: var(--cu-vr-1) 0;
  font-size: larger;
}

.cu-component--rich-text table {
  --border-color: rgb(208, 208, 208);
  border-collapse: collapse;
  margin-bottom: var(--cu-vr2);
  width: 100%;
}

.cu-component--rich-text td,
.cu-component--rich-text th {
  border-bottom: 1px solid var(--border-color);
  padding: var(--cu-vr-1) var(--cu-ps-1);
  text-align: left;

  &[rowspan] {
    border-left: 1px solid var(--border-color);
  }

  &[rowspan]:first-child {
    border-left: none;
    border-right: 1px solid var(--border-color);
  }
}

.cu-component--rich-text th[colspan] {
  text-align: center;
}

// Resonsive table implementation. @see union_marketing_responsive_tables.js
// Instead of mobile first, we are mobile-only with the following styles.
@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 37.5rem) {

  /* Force table to not be like tables anymore */
  .cu-component--rich-text table,
  .cu-component--rich-text table caption,
  .cu-component--rich-text thead,
  .cu-component--rich-text tbody,
  .cu-component--rich-text th,
  .cu-component--rich-text td,
  .cu-component--rich-text tr {
    display: block;
  }

  .cu-component--rich-text table {
    border: none;
  }

  .cu-component--rich-text table caption {
    border-bottom: 1px solid var(--border-color);
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  .cu-component--rich-text thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .cu-component--rich-text tr {
    padding: var(--cu-vr-2) 0;
    border-bottom: 2px solid var(--border-color);
  }

  .cu-component--rich-text td {
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: var(--cu-ps1);
    border: none;
  }

  .cu-component--rich-text td:before {
    content: attr(data-header);
  }
}

.review-listing {
  --border-color: rgb(208, 208, 208);
  --cu-font-size: var(--cu-ms-2);
  font-size: var(--cu-ms-2);

  table {
    border-collapse: collapse;
    clear: left;
  }

  tr {
    border-bottom: 1px solid var(--border-color);
  }

  td {
    padding: .25em .125em;
    vertical-align: top;
  }

  .views-field-field-representative-image {
    width: 160px;
  }

  a {
    color: $cornell-red;
    text-decoration: none;
  }

  .form-item {
    float: left;
    margin-right: var(--cu-ps1);
  }
}
