p.shout,
p.cu-x-shout {
  clear: both;
  font-size: var(--cu-ms4);
  margin-bottom: var(--cu-vr0);
}

span.mega {
  --cu-font-size: 600%;
  --cu-font-weight: bold;
}

span.mina {
  --cu-font-size: 50%;
}

span.block {
  display: block;
}
span.strong {
  font-weight: bold;
}

.collection--content-section {
  h1.cu-heading {
    --cu-font-family: 'futura-pt';
    --cu-font-size: 36px;
    --cu-line-height: 1;
    text-transform: uppercase;

    @include breakpoint(md) {
      --cu-font-size: 76px;
    }
  }
}

.cu-text--small {
  --cu-font-size: var(--cu-ms-1);
}
