.block-page-title-block h1.cu-heading {
  margin-top: var(--cu-vr0);
  --cu-font-size: var(--cu-ms7);

  @include breakpoint(sm) {
    --cu-font-size: var(--cu-ms10);
  }
}

span.mega {
  --cu-font-size: 600%;
  --cu-font-weight: bold;
}

span.mina {
  --cu-font-size: 50%;
}

span.block {
  display: block;
}
span.strong {
  font-weight: bold;
}

.collection--content-section .collection:not(.collection--view-mode-alt) .cu-banner {
  h1.cu-heading {
    --cu-font-family: 'futura-pt';
    --cu-font-size: 36px;
    --cu-line-height: 1;
    text-transform: uppercase;

    @include breakpoint(md) {
      --cu-font-size: 76px;
    }
  }
}

.cu-text--small {
  --cu-font-size: var(--cu-ms-1);
}

// jQuery UI autocomplete widget overrides.
.ui-autocomplete .ui-menu-item-wrapper {
  padding: .25em .5em;
}

.ui-autocomplete .ui-menu-item {
  margin: .5em 0;
  font-family: Replica, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-weight: 300;
  font-size: .8rem;
}

.ui-autocomplete .ui-state-active {
  border: unset;
  font-weight: unset;
  background: var(--cu-color-brand);
  border-radius: 3px;
}

// This is for any <details> element that has been placed in the heading of a
// left-aligned section.
.cu-section--left .cu-composite-heading__body details {
  //   margin-left: var(--cu-ps0);
  margin-left: 1em;

  > summary {
    cursor: pointer;
    margin-left: -1em;
  }
}

.cu-component--rich-text > ul:first-child {
  margin-top: 0;
}

.field--body hr,
.cu-component--rich-text > hr {
  height: 2px;
  width: 100px;
  margin-left: 0;
  border: none;
  background: var(--cu-color-brand);
}

.cu-heading--column {
  break-before: column;
  -webkit-column-break-before: always;
}

.cu-component--rich-text blockquote,
.cu-component--rich-text p.shout {
  font-size: var(--cu-ms3);
  font-weight: 600;
  line-height: 1.3;
  font-family: "freight-text-pro", serif;
  margin: var(--cu-vr1) var(--cu-ps1);
  max-width: 25em;

  @include breakpoint(sm) {
    font-size: var(--cu-ms5);
    margin: var(--cu-vr2) auto;
    clear: both;
  }

  p + p:last-of-type {
    font-family: Replica;
    text-transform: uppercase;
    font-size: var(--cu-ms-3);
    color: #6C6C6C;
    font-weight: 400;
    letter-spacing: 0.1em;
  }
}
