.cu-heading--strong {
  line-height: 1;
}

.field--field-subheading {
  --cu-current-heading-size: var(--cu-text-xl);
}

p.shout {
  clear: both;
  font-size: var(--cu-text-xxxl);
  margin-bottom: var(--cu-vr0);
  color: #333;
}

.node--page.node--level1 {
  h1.cu-heading {
    font-family: 'futura-pt';
    font-size: 36px;
    line-height: 1;
    text-transform: uppercase;

    @include breakpoint(md) {
      font-size: 76px;
    }
  }
}
