.cu-topic-list.use-media-aspect .cu-topic-list__media .cu-image {
  height: auto;
}

// This is a temporary link underline until the arrow icon is implemented in
// union.
.cu-topic-list__item-link {
  text-decoration: underline;
}

.cu-component__frame .cu-topic-list__items { --frame-width: 0; }
