// Constrain video widths in education section.
.node--course .cu-component--video,
.node--certificate .cu-component--video {
  @include breakpoint(md) {
    padding: 0 15%;
  }
}

// From https://alistapart.com/article/creating-intrinsic-ratios-for-video/
.remote-video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.remote-video-wrapper iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border: 0;
}

#block-union-marketing-75thvideobanner {
  @include full-width();

  overflow: hidden;

  video {
    width: 100%;
    margin-bottom: -15%;
  }
}

#block-union-marketing-homepage-banner {
  @include full-width();

  margin-bottom: var(--cu-vr1);

  @include breakpoint(md) {
    margin-bottom: var(--cu-vr2);
  }

  .cu-grid {
    max-width: $max-width;
  }

  .cu-component--mobile.cu-banner--video .cu-banner__content {
    padding-bottom: 0;
  }
}
