// Constrain video widths in education section.
.node--course .cu-component--video,
.node--certificate .cu-component--video {
  @include breakpoint(md) {
    padding: 0 15%;
  }
}

// From https://alistapart.com/article/creating-intrinsic-ratios-for-video/
.remote-video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.remote-video-wrapper iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border: 0;
}

.node--video-post .cu-card__media {
  $width: 4em;
  position: relative;

  .cu-icon--play {
    position: absolute;
    top: calc(50% - #{$width} * .5);
    left: calc(50% - #{$width} * .5);

    .cu-icon__image {
      margin: 0;
      z-index: 1;
    }

    &::after {
      content: '';
      position: absolute;
      top: calc(50% - #{$width} * .5);
      left: calc(50% - #{$width} * .5);
      background-color: rgba(0, 0, 0, .4);
      width: $width;
      height: $width;
      border-radius: $width  * .5;
    }
  }
}

.node--video-post.node--view-mode-teaser .ajax-progress-throbber,
.cu-card--promo .ajax-progress-throbber {
  position: absolute;
  z-index: 1;
}

#block-union-marketing-75thvideobanner {
  @include full-width();

  overflow: hidden;

  video {
    width: 100%;
    margin-bottom: -15%;
  }
}

.region-highlighted .cu-banner--hero.cu-banner--video .cu-banner__media {
  @include breakpoint(md) {
    @include full-width();
    position: absolute;
  }
}

#block-union-marketing-homepage-banner {

  margin-bottom: var(--cu-vr1);

  @include breakpoint(md) {
    margin-bottom: var(--cu-vr2);
  }

  .cu-grid {
    width: 100%;
    max-width: $max-width;
  }

  .cu-component--mobile.cu-banner--video .cu-banner__content {
    padding-bottom: 0;
  }
}
