// TODO: clean up webform classes to improve reusability.
.webform-submission-your-story-form,
.ilr-webform-duo {
  background: #efefed;
  padding: var(--cu-vr2) var(--cu-ps2);
  margin: var(--cu-vr3) 0;

  @include breakpoint(md) {
    display: grid;
    grid-gap: 50px;

    .form-title,
    .ilr-webform-duo__title {
      grid-column: 1;
    }
  }

  .form-fields,
  .ilr-webform-duo__fields {
    grid-column: 2;
  }

  .form-title .cu-label,
  .ilr-webform-duo__title .cu-label,
  .cu-heading {
    --cu-current-heading-size: var(--cu-ps2);
    --cu-current-line-height: var(--cu-heading-line-height, 1.2);
    margin: 0 0 var(--cu-component-margin-bottom, var(--cu-vr0));
    font-size: var(--cu-current-heading-size, inherit);
  }
}

.webform--with-content {
  margin: var(--cu-vr2) auto var(--cu-vr2);

  @include breakpoint(sm) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .cu-heading {
    --cu-current-heading-size: var(--cu-ps2);
  }
}

.webform--dark {
  background: #efefed;
  padding: var(--cu-vr1) var(--cu-ps3);
}
