// TODO: clean up webform classes to improve reusability.
.webform-submission-your-story-form,
.ilr-webform-duo {
  background: #efefed;
  padding: var(--cu-vr2) var(--cu-ps2);
  margin: var(--cu-vr3) 0;

  @include breakpoint(md) {
    display: grid;
    grid-gap: 50px;

    .form-title,
    .ilr-webform-duo__title {
      grid-column: 1;
    }
  }

  .form-fields,
  .ilr-webform-duo__fields {
    grid-column: 2;
  }

  .form-title .cu-label,
  .ilr-webform-duo__title .cu-label,
  .cu-heading {
    --cu-font-size: var(--cu-ms2);
    --cu-line-height: 1.2;
    margin: 0 0 var(--cu-component-margin-bottom, var(--cu-vr0));
  }
}

.webform--with-content {
  margin: var(--cu-vr2) auto var(--cu-vr2);

  @include breakpoint(sm) {
    display: grid;
    column-gap: var(--cu-vr2);
    grid-template-columns: 1fr 1fr;
  }

  .cu-heading {
    --cu-font-size: var(--cu-ms6);
  }

  .webform-address--wrapper {
    margin: 0;

    .cu-legend {
      margin: 0;
    }
  }

  .colspan {
    grid-column: 1/-1;

    .cu-input-list__item--checkbox {
      margin-bottom: var(--cu-vr1);
    }
  }


}

.webform--dark {
  background: #efefed;
  padding: var(--cu-vr1) var(--cu-ps1);

  @include breakpoint(sm) {
    padding: var(--cu-vr1) var(--cu-ps3);
  }
}

@include breakpoint(sm) {
  .webform--grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--cu-ps1);

    &.webform--grid__widetextarea {
      .cu-input-list__item--textarea {
        grid-column: 1/-1;
      }
    }

    .cu-input-list__item--select {
      display: flex;
      gap: var(--cu-ps-1);

      .cu-label {
        white-space: nowrap;
        font-size: 75%;
        color: var(--cu-color-text-disabled, #888888);
      }
    }
  }
}

.webform-type-fieldset {
  padding: var(--cu-ms1);
  border: 1px solid #ccc;
}

.webform-multiple-table {
  td:first-of-type {
    padding: var(--cu-vr0) 0;
  }
}

.webform-submission-ladp-application-form .filter-wrapper {
  display: none;
}

.form-item-essay-value.cu-input-list__item.has-float-label:not(.js-disabled) label {
  position: static;
}

.webform-submission-ladp-application-form .cu-input-message {
  color: revert;
}

.webform-submission-form .cu-input-list__item--checkbox {
  margin: 0 0 var(--cu-vr-1);
}

.webform-type-checkboxes,
.webform-type-salesforce-event-options {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding-bottom: var(--cu-vr-1);

  .cu-input-list__item--checkbox {
    margin-bottom: revert;
  }
}

.webform-type-checkboxes .cu-legend,
.webform-type-salesforce-event-options .cu-legend {
  margin: 0 var(--cu-ps-1) var(--cu-vr-2);
  padding: 0 .25em;
}

.webform-type-checkboxes.cu-fieldset .cu-fieldset__wrapper {
  padding-left: var(--cu-ps0);
}

.webform-type-checkboxes .webform-element-description {
  margin: 0 var(--cu-ps0) var(--cu-vr-2);
}

// @todo Remove this when we fix bottom margins and padding in Union fieldsets.
.webform-type-webform-address .cu-fieldset__wrapper,
.webform-type-webform-address .form-item-address-postal-code,
.webform-type-webform-address .form-item-address-postal-code .cu-input--text {
  margin-bottom: 0;
  padding-bottom: 0;
}

// TODO: Fix stuff like this when we refactor the Union form component.
.cu-input.cu-input--url {
  width: 100%;
}
