@media (min-width: 61rem) {
  .simple-columns {
    columns: 2;
  }
}

.simple-columns--column-break {
  break-before: column;
  -webkit-column-break-before: always;
}

/* Prevent multiple column breaks in our two simple columns. */
.simple-columns--column-break + .simple-columns--column-break {
  break-before: avoid;
  -webkit-column-break-before: avoid;
}
