{#
/**
 * @file
 * Theme override to display the homepage banner block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{{ attach_library('union_marketing/lottie') }}
{{ attach_library('union_marketing/lottie_80years') }}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'cu-banner--hero',
    'cu-banner--video'
  ]
%}

{% set years_logo %}
<div class="lottie-80years-container cu-banner--80years"></div>
{% endset %}

{% set video_media %}
{% include '@union/_video.twig' with {
  src: 'https://ilr-images.s3.us-east-1.amazonaws.com/video/ilr_hero_80years.mp4',
  poster: '/themes/custom/union_marketing/images/hero-poster.jpg',
  autoplay: TRUE,
  loop: TRUE,
  muted: TRUE,
  playsinline: TRUE
} only %}
{% endset %}

{% set hero_content %}
  <p>80 years of pioneering research, education, and real-world impact.</p>
{% endset %}

{% include '@union/_banner.twig' with {
  attributes: attributes.addClass(classes),
  heading: 'Built for the future of work',
  content: hero_content,
  media: video_media,
  content_side: years_logo,
  link_url: '#',
  link_text: 'Some CTA Here'
} only %}
