{%
  set classes = [
    'cu-component',
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|replace({':': '--'})|clean_class,
  ]
%}
<div{{ attributes.addClass(classes) }}>
{% include '@union/_section-heading.twig' with {
  attributes: { class: 'cu-section-heading--framed' },
  heading: content|render|striptags|raw,
  heading_element: 'h1',
} only %}
{{ title_suffix }}
</div>
