{#
/**
 * @file
 * Theme override to display the homepage banner block for mobile.
 */
#}
{{ attach_library('union_marketing/lottie') }}
{{ attach_library('union_marketing/lottie_80years') }}

{% set video_media %}
{% include '@union/_video.twig' with {
  src: 'https://ilr-images.s3.us-east-1.amazonaws.com/video/ilr_hero_80years.mp4',
  poster: '/themes/custom/union_marketing/images/hero-poster.jpg',
  autoplay: TRUE,
  loop: TRUE,
  muted: TRUE,
  playsinline: TRUE
} only %}
{% endset %}

{% set years_logo %}
<div class="lottie-80years-container cu-banner--80years-mobile"></div>
{% endset %}

{% set undergrad %}
<p class="cu-card__content-text">The ILR major focuses on the world of people and work, preparing students for a wide range of academic interests and careers.</p>

{% endset %}

{% set graduate %}
<p class="cu-card__content-text">From students straight out of college, to professionals working for over 20 years - we have your program.</p>
{% endset %}

{% set professional %}
<p class="cu-card__content-text">You can choose from a wide range of professional and academic programs grounded in practice and research.</p>
{% endset %}

{% set card_classes = [
  'cu-card--dynamic',
  'cu-colorscheme--dark',
] %}

{% set card_data = {
  'undergraduate': {
    'heading': 'Undergraduate Admissions',
    'content': undergrad,
    'href': '/programs/undergraduate-admissions',
    'icon': 'tower',
    'icon_title': 'Cornell University Tower'
  },
  'graduate': {
    'heading': 'Graduate Programs',
    'content': graduate,
    'href': '/programs/graduate-degree-programs',
    'icon': 'mortarboard',
    'icon_title': 'Cornell University Graduation Cap'
  },
  'professional': {
    'heading': 'Professional Education',
    'content': professional,
    'href': '/programs/professional-education',
    'icon': 'handshake',
    'icon_title': 'Cornell University Handshake'
  }
}%}

{% set hero_content %}
  <p>80 years of pioneering research, education, and real-world impact.</p>
{% endset %}

<div class="cu-banner--hero cu-component--mobile">
  {# Logo section with video background #}
  <div class="cu-banner__logo">
    <div class="video-background">
      {{ video_media }}
    </div>
    <div class="cu-banner__overlay">
      {{ years_logo }}
    </div>
  </div>

  {# Content section with white background #}
  <div class="cu-banner__content">
    <h2 class="cu-heading">Built for the future of work</h2>
    <p>80 years of pioneering research, education, and real-world impact.</p>
      {% include '@union/_button.twig' with {
        text: 'Some CTA Here',
        url: '#',
        attributes: {'class': 'cu-banner__link'}
      } only %}
  </div>

  {# Mobile card grid #}
  <div class="cu-hero-card-grid cu-component--mobile">
    <div class="cu-grid">
      {% for key, card in card_data %}
        {% include '@union/_card.twig' with {
          attributes: { class: card_classes },
          heading: card.heading,
          card_content: card.content,
          card_link_url: card.href,
          card_link_alt: card.heading,
          icon_data: {
            title: card.icon_title,
            icon: card.icon
          }
        } only %}
      {% endfor %}
    </div>
  </div>
</div>
