{% include '@union/_section-heading.twig' with {
  attributes: { class: 'cu-section-heading--framed' },
  heading: '',
} only %}

<div class="post__title">
  {% include "block--field-block--node--page--title.html.twig" %}
</div>

