{# @todo: refactor once breadcrumb strategy in place #}
{% set crumbs = [
  {
    url: '#',
    text: 'Home'
  },
  {
    url: '#',
    text: 'Programs & Admissions'
  },
  {
    url: '#',
    text: 'Professional'
  },
  {
    url: '/courses-by-topic',
    text: 'Courses'
  }
]%}

{% set rendered_content %}
<div class="framed framed--right">
  {% include "@union/_breadcrumb.twig" with {
    breadcrumb: crumbs
  } %}
  <h1 class="cu-heading cu-text--xxxl">{{ drupal_title() }}</h1>
  <p class="cu-banner__summary">{{ content.summary }}</p>

  {# Replace with actual page nav once implemented #}
  {% include '@union/demo/page-nav.twig' %}
</div>
{% endset %}

{% include '@union/_banner.twig' with {
  attributes: { class: 'cu-banner--page'},
  content: rendered_content,
} only %}
