{#
/**
 * @file
 * Theme override to display the homepage banner block for mobile.
 */
#}

{% set video_media %}
{% include '@union/_video.twig' with {
  src: '/sites/default/files-d8/ILR-80-Home-Background.mp4',
  poster: '/sites/default/files-d8/ILR-80-Home-Background-poster.jpg',
  autoplay: TRUE,
  loop: TRUE,
  muted: TRUE,
  playsinline: TRUE
} only %}
{% endset %}

{% set years_logo %}
<svg width="200" height="200" viewBox="0 0 260 260" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M130 220C179.706 220 220 179.706 220 130C220 80.2944 179.706 40 130 40C80.2944 40 40 80.2944 40 130C40 179.706 80.2944 220 130 220Z" fill="#B31B1B"/>
  <path d="M130 190C163.137 190 190 163.137 190 130C190 96.8629 163.137 70 130 70C96.8629 70 70 96.8629 70 130C70 163.137 96.8629 190 130 190Z" fill="white"/>
  <path d="M130 170C152.091 170 170 152.091 170 130C170 107.909 152.091 90 130 90C107.909 90 90 107.909 90 130C90 152.091 107.909 170 130 170Z" fill="#B31B1B"/>
  <path d="M220 235H250V245H220V235Z" fill="black"/>
  <text x="170" y="140" font-family="futura-pt, sans-serif" font-weight="700" font-size="40" fill="white">YEARS</text>
</svg>
{% endset %}

{% set undergrad %}
<p class="cu-card__content-text">The ILR major focuses on the world of people and work, preparing students for a wide range of academic interests and careers.</p>
<div class="cu-card__button">
  {% include '@union/_button.twig' with {
    text: 'Explore',
    attributes: {'class': 'cu-button--overlay'}
  } only %}
</div>
{% endset %}

{% set graduate %}
<p class="cu-card__content-text">From students straight out of college, to professionals working for over 20 years - we have your program.</p>
<div class="cu-card__button">
  {% include '@union/_button.twig' with {
    text: 'Explore',
    attributes: {'class': 'cu-button--overlay'}
  } only %}
</div>
{% endset %}

{% set professional %}
<p class="cu-card__content-text">You can choose from a wide range of professional and academic programs grounded in practice and research.</p>
<div class="cu-card__button">
  {% include '@union/_button.twig' with {
    text: 'Explore',
    attributes: {'class': 'cu-button--overlay'}
  } only %}
</div>
{% endset %}

{% set card_classes = [
  'cu-card--dynamic',
  'cu-colorscheme--dark',
] %}

{% set card_data = {
  'undergraduate': {
    'heading': 'Undergraduate Admissions',
    'content': undergrad,
    'href': '/programs/undergraduate-admissions',
    'icon': 'tower',
    'icon_title': 'Cornell University Tower'
  },
  'graduate': {
    'heading': 'Graduate Programs',
    'content': graduate,
    'href': '/programs/graduate-degree-programs',
    'icon': 'graduation-cap',
    'icon_title': 'Cornell University Graduation Cap'
  },
  'professional': {
    'heading': 'Professional Education',
    'content': professional,
    'href': '/programs/professional-education',
    'icon': 'handshake',
    'icon_title': 'Cornell University Handshake'
  }
}%}

{% set hero_content %}
  <p>80 years of pioneering research, education, and real-world impact.</p>
{% endset %}

<div class="cu-banner--hero cu-component--mobile">
  {# Logo section with video background #}
  <div class="cu-banner__logo">
    <div class="video-background">
      {{ video_media }}
    </div>
    <div class="cu-banner__overlay">
      {{ years_logo }}
    </div>
  </div>

  {# Content section with white background #}
  <div class="cu-banner__content">
    <h2 class="cu-heading">Built for the future of work</h2>
    <p>80 years of pioneering research, education, and real-world impact.</p>
      {% include '@union/_button.twig' with {
        text: 'Some CTA Here',
        url: '#',
        attributes: {'class': 'cu-banner__link'}
      } only %}
  </div>

  {# Mobile card grid #}
  <div class="cu-hero-card-grid cu-component--mobile">
    <div class="cu-grid">
      {% for key, card in card_data %}
        {% include '@union/_card.twig' with {
          attributes: { class: card_classes },
          heading: card.heading,
          card_content: card.content,
          card_link_url: card.href,
          card_link_alt: card.heading,
          icon_data: {
            title: card.icon_title,
            icon: card.icon
          }
        } only %}
      {% endfor %}
    </div>
  </div>
</div>
