{#
/**
 * @file
 * Theme override to display the homepage banner block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{{ attach_library('union_marketing/lottie') }}
{{ attach_library('union_marketing/lottie_80years') }}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}

{% set undergrad %}
<p class="cu-card__content-text">Our flexible, interdisciplinary major lets students pursue a wide range of academic interests and careers.</p>
{% endset %}

{% set grad %}
<p class="cu-card__content-text">Study the workplace comprehensively with the world's highest concentration of workplace faculty.</p>
{% endset %}

{% set professional %}
<p class="cu-card__content-text">Invest in your career by learning from instructors who blend world-leading research with business-tested practicality.</p>
{% endset %}

{% set card_classes = [
  'cu-card--dynamic',
  'cu-colorscheme--dark',
] %}

{% set icon_cards %}
{% include '@union/_card.twig' with {
  attributes: { class: card_classes },
  heading: 'Undergraduate Admissions',
  card_content: undergrad,
  card_link_url: '/programs/undergraduate-admissions',
  card_link_alt: 'Undergraduate Admissions',
  icon_data: {
    title: 'Cornell University Tower',
    icon: 'tower'
  }
} only %}
{% include '@union/_card.twig' with {
  attributes: { class: card_classes },
  heading: 'Graduate Programs',
  card_content: grad,
  card_link_url: '/programs/graduate-degree-programs',
  card_link_alt: 'Graduate Programs',
  icon_data: {
    title: 'Mortarboard',
    icon: 'mortarboard'
  }
} only %}
{% include '@union/_card.twig' with {
  attributes: { class: card_classes },
  heading: 'Professional Education',
  card_content: professional,
  card_link_url: '/programs/professional-education',
  card_link_alt: 'Professional Education',
  icon_data: {
    title: 'Handshake',
    icon: 'handshake'
  }
} only %}
{% endset %}

{% set years_logo %}
<div class="lottie-80years-container cu-banner--80years"></div>
{% endset %}

{% set controls %}
  <div class="video-pause">
    {% include "@union/_icon.twig" with {
      title: 'Pause video',
      icon: 'pause',
      size: '3em',
      label: '',
      attributes: {
        class: 'cu-icon--inline pause cu-icon--play',
        role: 'button',
        'aria-pressed': "false"
      }
    } only %}
    {% include "@union/_icon.twig" with {
      title: 'Play video',
      icon: 'play',
      size: '3em',
      label: '',
      attributes: {
        class: 'cu-icon--inline play visually-hidden',
        role: 'button',
        'aria-pressed': "true"
      }
    } only %}
  </div>
{% endset %}

{% set video_media %}
{% include '@union/_video.twig' with {
  src: 'https://ilr-images.s3.us-east-1.amazonaws.com/video/ilr_hero_80years.mp4',
  poster: '/themes/custom/union_marketing/images/hero-poster.jpg',
  autoplay: TRUE,
  loop: TRUE,
  muted: TRUE,
  playsinline: TRUE
} only %}
{% endset %}

{% set hero_content %}
    <p>80 years of pioneering research, education, and real-world impact.</p>
{% endset %}

<div{{attributes.addClass(classes)}}>
    {% include '@union/_banner.twig' with {
      attributes: { class: ['cu-banner--hero', 'cu-banner--video', 'cu-component--desktop'] },
      heading: 'Built for the future of work',
      content: hero_content,
      media: video_media,
      overlay_content: years_logo,
      link_url: '#',
      link_text: 'Some CTA Here'
    } only %}

  {# Desktop card grid #}
  <div class="cu-hero-card-grid cu-component--desktop">
    <div class="cu-grid">
      {{ icon_cards }}
    </div>
  </div>

  {# Be sure to place the mobile version after desktop, so that js can target the correct play button (union bug). #}
  {% include "block--union-marketing-homepage-banner--mobile.html.twig" %}
</div>
