<div class="cornell-minibar">
  <a class="cornell-minibar__link" href="https://cornell.edu"><img class="cornell-minibar__image" alt="Cornell University mobile logo" src="/{{ directory }}/images/cornell-reduced-white.svg" \></a>
</div>
