{#
/**
 * @file
 * Theme override for ilr_certificate_basics_block.
 *
 * Available variables:
 * - node: The certificate node.
 * - completion_time: The time, in months, to complete the certificate.
 * - course_count: The number of courses required to complete the certificate.
 *
 * @see CertificateBasicsBlock::build()
 */
#}
{% set basics = [
  {
    name: 'Required Courses'|t,
    description: '<span class="strong block">@course_count Focused Workshops</span>Register for individual workshops to fit your schedule'|t({ '@course_count': course_count }),
    icon: 'check-circle'
  },
  {
    name: 'Time to Complete'|t,
    description: '<span class="strong block">@completion_time months</span>Time participants have to complete the entire certificate program'|t({ '@completion_time': completion_time }),
    icon: 'check-circle'
  }
]%}
{% set basics_grid %}
{% include "@union/_feature-list.twig" with {
    items: basics,
    content_attributes: { class: 'cu-grid--3col cu-certificate-basics cu-inline-list' }
  } only %}
{% endset %}

{% set box_content %}
<div class="certificate-basics">
  <h2 class="cu-heading">{% trans %}Certificate Basics{% endtrans %}</h2>
  {{ basics_grid }}
</div>
{% endset %}

{% include '@union/_highlight-box.twig' with {
  content: box_content
} only %}
