.paragraphs-behavior {
  display: initial;
}

/* Remove the hover color. */
.field--type-entity-reference-revisions tbody tr:hover,
.field--type-entity-reference-revisions tbody tr:focus {
  /* background: transparent; */
}

.field--type-entity-reference-revisions tr.draggable {
  padding-left: 1em;
  background: var(--color-gray-050-o-40);
}

.field--type-entity-reference-revisions tr.draggable.closed {
  background: transparent;
}

.paragraphs-subform .field--name-status {
  float: right;
}

.js .field--widget-paragraphs .paragraphs-dropbutton-wrapper .dropbutton-widget {
  position: relative;
}

/* Note these selectors are highly specific (since scheduled components can be
nested) and are therefore slightly brittle. */
tr.draggable:has(> td > div > .form-wrapper > .paragraph-top .summary-plugin .scheduled--present) {
  background-color: rgb(212, 239, 212);
}

tr.draggable:has(> td > div > .form-wrapper > .paragraph-top .summary-plugin .scheduled--past) {
  background-color: rgb(255, 230, 230);
}

tr.draggable:has(> td > div > .form-wrapper > .paragraph-top .summary-plugin .scheduled--future) {
  background-color: rgba(255, 250, 230);
}

.paragraphs-tabs-wrapper .paragraphs-tabs.tabs {
  display: none;
}
