.site-logo img {
  max-width: 50px;
}

/* This is a fix for paragraph previewer widget Edit All button location. */
.js .field--widget-paragraphs-previewer th .paragraphs-actions {
  float: right;
  margin-right: -11px;
}

/* Override some styles from Entity Reference with Layout. Our nodes currently
have two paragraphs fields (Sections and Sections (Legacy)) and ERL breaks the
paragraph type labels on the Sections field. */
.paragraph-type--section .paragraph-type-label {
  position: relative;
  font-style: normal;
  color: initial;
}

.paragraph-type--section .paragraph-type-label--admin-label {
  color: #888;
}

.emp-details .fieldset-wrapper .form-checkboxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-height: 15em;
  max-width: 100%;
  overflow-y: scroll;
}

.emp-details .form-item {
  margin: .1em 0;
}

.organization-selection .form-checkboxes {
  overflow-y: scroll;
  max-height: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .75em;
  margin-top: .75em;
}

.organization-selection .form-checkboxes .form-item {
  margin: unset;
}

.field--name-field-areas-of-expertise .fieldset-wrapper {
  max-height: 30vh;
  overflow-y: scroll;
  margin-bottom: 1.5em;
  padding: 1em;
}
