.site-logo img {
  max-width: 50px;
}

/* This is a fix for paragraph previewer widget Edit All button location. */
.js .field--widget-paragraphs-previewer th .paragraphs-actions {
  float: right;
  margin-right: -11px;
}

/* Override some styles from Entity Reference with Layout. Our nodes currently
have two paragraphs fields (Sections and Sections (Legacy)) and ERL breaks the
paragraph type labels on the Sections field. */
.paragraph-type--section .paragraph-type-label {
  position: relative;
  font-style: normal;
  color: initial;
}

.paragraph-type--section .paragraph-type-label--admin-label {
  color: #888;
}

.emp-details .fieldset-wrapper .form-checkboxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-height: 15em;
  max-width: 100%;
  overflow-y: scroll;
}

.emp-details .form-item {
  margin: .1em 0;
}

.organization-selection .form-checkboxes {
  overflow-y: scroll;
  max-height: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .75em;
  margin-top: .75em;
}

.organization-selection .form-checkboxes .form-item {
  margin: unset;
}

.field--name-field-areas-of-expertise .fieldset-wrapper {
  max-height: 30vh;
  overflow-y: scroll;
  margin-bottom: 1.5em;
  padding: 1em;
}

.persona-form .field--name-field-websites .description {
  display: none;
}

details[data-migration-source] {
  position: relative;
}

details[data-migration-source][open]:hover::before {
  content: ' source: ' attr(data-migration-source);
  position: absolute;
  top: 3px;
  right: 3px;
  opacity: .75;
}

.block-ilr-profile-edit-link {
  display: inline-block;
  margin: 1em 0;
  border: 1px solid #a6a6a6;
  border-radius: 5px;
}

.profile-button {
  display: inline-block;
  padding: .5em 1em;
  color: #0074bd;
  --cu-text-color: #0074bd;
}

.persona-browser__persona-types {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1em;
}

.persona-browser__search {
  display: flex;
  align-items: last baseline;
  gap: 1em;
}

.persona-browser__persona-types .button,
.persona-browser__search .button {
  margin: 0;
}

.entity-browser-persona-browser-form .form-actions {
  position: fixed;
  bottom: 0;
  margin: 0;
}

.persona-browser__persona-list img {
  float: right;
}

.persona-browser__more-info summary {
  padding: 0;
}

.entity-browser-persona-browser-form .link.button {
  margin-left: 1.5em;
  font-size: unset;
  font-weight: unset;
}

.entity-browser-persona-browser-form .link.button:hover {
  background: none;
  box-shadow: unset;
}

.field--name-field-people.field--widget-entity-browser-entity-reference .entities-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}

.field--name-field-people.field--widget-entity-browser-entity-reference .entities-list .item-container {
  margin: 0;
}

.field--name-field-people.field--widget-entity-browser-entity-reference .entities-list input {
  margin: .5em 0 0 0;
  font-size: small;
}

button.ck-media-library {
  --ck-border-radius: 15px;
  --ck-color-button-default-background: #efefef;
  margin: 0 auto !important;
  max-width: 50%;
}
