.site-logo img {
  max-width: 50px;
}

.page-node-type-post .field--name-body .form-item-body-0-value,
.page-node-type-post .field--name-body .filter-wrapper {
  display: none;
}

/* This is a fix for paragraph previewer widget Edit All button location. */
.js .field--widget-paragraphs-previewer th .paragraphs-actions {
  float: right;
  margin-right: -11px;
}
