<div{{ attributes.addClass('layout-banner') }}>

{% set rendered_content %}
{% if content.top %}
<div class="banner__top">
  {{ content.top }}
</div>
{% endif %}
<div class="banner__content">
  {{ content.banner }}
</div>
{% endset %}

{% set attributes = attributes.addClass('cu-colorscheme--' ~ settings.color_scheme) %}
{% set attributes = attributes.addClass('cu-banner--page') %}
{% if settings.hide_frame %}
{% set attributes = attributes.addClass('cu-banner--hide-frame') %}
{% endif %}
{% if settings.text_align == 'center' %}
{% set attributes = attributes.addClass('cu-banner--text-center') %}
{% endif %}
{% if settings.full_bleed %}
{% set attributes = attributes.addClass('cu-banner--full-bleed') %}
{% endif %}

{% if content['#entity'] and content['#entity'].bundle() %}
{% set type = content['#entity'].getEntityTypeId() %}
{% set bundle = content['#entity'].bundle() %}
{% set attributes = attributes.addClass('cu-banner--' ~ type) %}
{% set attributes = attributes.addClass('cu-banner--' ~ bundle) %}
{% endif %}

{% include '@union/_banner.twig' with {
  attributes: attributes,
  content: rendered_content,
  media: content.media|render
} only %}
</div>
