<div{{ attributes.addClass('layout-banner') }}>

{% set rendered_content %}
{% if content.top %}
<div class="banner__top">
  {{ content.top }}
</div>
{% endif %}
<div class="banner__content">
  {{ content.banner }}
</div>
{% endset %}

{% include '@union/_banner.twig' with {
  attributes: { class: ['cu-banner--page', 'cu-colorscheme--' ~ settings.color_scheme]},
  content: rendered_content,
  media: content.media|render
} only %}
</div>
