{#
/**
 * @file
 * Theme override for a Localist event.
 *
 * Available variables:
 * - event: An event from the Localist API:
 *   - title: The event title.
 *   - event_instances: An array of 'instances'. The most interesting is at 0.event_instance.start.
 *   - description: The description of the event in HTML.
 *   - description_text: The description of the event in plain text.
 *   - localist_url: The URL to the event at Localist.
 *   - photo_url: The URL to the photo from the Localist event.
 *   - Plus many more. Try dump(event) to see them all.
 *
 * @see https://developer.localist.com/doc/api#events
 * @see https://schema.org/Event
 */
#}
{% set is_past = 'now'|date('Y-m-d') > event.event_instances.0.event_instance.start|date('Y-m-d') %}
{%
  set classes = [
    is_past ? 'eventalicious-past-event',
  ]
%}
{% set rendered_content %}
<p class="cu-x-event__description">{{event.description_text}}</p>
{% endset %}
{% include '@union/_event-card.twig' with {
  attributes: attributes.addClass(classes),
  event_date: event.event_instances.0.event_instance.start,
  heading: event.title,
  media: event.ilr_image,
  datetime_format: is_past ? 'M j, Y',
  link_url: event.localist_url,
  link_alt: event.title,
  content: rendered_content
} only %}
