{%
  set classes = [
    'cu-x-field',
    'field--' ~ field_name|clean_class,
    'remote-video-wrapper'
  ]
%}
{% for item in items %}
  <div{{ attributes.addClass(classes) }}>{{ item.content }}</div>
{% endfor %}
