<div class="cu-section">
  {% include '@union/_section-heading.twig' with {
    attributes: { class: 'cu-section-heading--framed' },
    heading: 'Schedule & Details',
    subheading: 'Course'
  } only %}

  {% include "@union_marketing/form/field.html.twig" %}
</div>
