{%
  set classes = [
    'cu-x-field',
    'field',
    'field--' ~ field_name|clean_class,
    'field-type--' ~ field_type|clean_class,
    'field--label-' ~ label_display,
    label_display == 'inline' ? 'clearfix',
  ]
%}
{% for item in items %}
  <div{{attributes.addClass(classes)}}>{{ item.content }}</div>
{% endfor %}
