.sr-only {
  border: 0;
  clip: rect(0,0,0,0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// "Desktop" and "Mobile" components can be used to hide content.
// @see the homepage banner video as an example of where this is used.
.cu-component--desktop {
  display: none;

  @include breakpoint(md) {
    display: block;
  }
}

.cu-component--mobile {
  @include breakpoint(md) {
    display: none;
  }

  .cu-video {
    margin-bottom: 1rem; // needed?
  }
}

.node--unpublished,
.term--unpublished,
.collection--unpublished,
.cu-card--promo--unpublished-content {
  &::after {
    content: 'Unpublished';
    display: block;
    position: fixed;
    background: rgba(255,0,0,.5);
    color: white;
    font-weight: bold;
    font-size: 2.5rem;
    bottom: 10%;
    left: 2%;
    z-index: 1000;
    padding: 1em 3em;
    transform: rotate(-5deg);
    text-shadow: 0 0 2px black;
    pointer-events: none;
  }
}

.cu-card--promo--unpublished-content {
  &::after {
    position: absolute;
    font-size: 1.5rem;
  }
}
