/// Full Width, even outside container
/// @link https://css-tricks.com/full-width-containers-limited-width-parents/

@mixin full-width($include_images: false) {
  width: 100vw;
  max-width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;

  @if $include_images {
    .cu-image {
      width: 100%;
    }
  }
}

//*----------------------------------*\
//  #TOOLS - VISUALLY HIDDEN
//\*----------------------------------*/

/// Visually hidden - Make an element visually hidden, but accessible to screen readers, etc.
/// @author John Albin
/// @see http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
/// @link https://github.com/JohnAlbin/zen-style-guide/blob/gh-pages/sass/init/visually-hidden/_visually-hidden.scss
/// @group Tools
/// @example scss - basic usage
///   .centered {
///     @include visually-hidden();
///   }
/// @output Output from the example
///   .centered {
///     position: absolute !important;
///     height: 1px;
///     width: 1px;
///     overflow: hidden;
///     clip: rect(1px, 1px, 1px, 1px);
///     word-wrap: normal;
///   }

@mixin visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  word-wrap: normal;
}

@mixin framed($variant: left) {
  $frame-thickness: 10px;
  $frame-width: 120px;
  $frame-height: 50px;

  position: relative;
  padding-top: calc(2 * #{$frame-thickness});

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: $black;
  }

  &::before {
    width: $frame-width;
    height: $frame-thickness;
  }

  &::after {
    width: $frame-thickness;
    height: $frame-height;
  }

  @if $variant == left {
    padding-left: calc(2 * #{$frame-thickness});
  }
  @else {
    &::before {
      left: calc(100% - #{$frame-width} - #{$frame-thickness});
    }

    &::after {
      left: calc(100% - #{$frame-thickness});
    }
  }
}

@mixin word-wrap() {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
