header {
  background: $white;
  padding: 1em 0;
  position: relative;
}

aside.layout-sidebar-first {
  @include breakpoint(md) {
    margin-top: 4.5rem;
  }
}

// @todo: Discuss where this should live
footer {
  .cu-section {
    justify-self: stretch;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;

    :first-child {
      grid-column: 1 / -1;
    }
  }

  ul {
    --cu-current-link-color: #222;
    columns: 2;
    list-style-type: none;
    padding: 0;
  }
}
