/**
 *
 * This file is for setting and overriding union css variables
 *
 */

.cu-topic-list,
.course-certificates {
  .cu-feature-list__name {
    --cu-current-heading-size: var(--cu-ms2);
  }
}

.cu-card--padded {
  --cu-card-background: #efefef;
  --cu-grid-row-gap: .5em;
  color: var(--cu-color-text);
}

.union-marketing-card--dark {
  --cu-card-background: #333;
  --cu-color-text: #efefef;

  a {
    --cu-current-link-color: var(--cu-color-text);
  }
}
