/**
 *
 * This file is for setting and overriding union css variables, unless we do it
 * somewhere else!
 *
 */

.cu-card--padded {
  --cu-card-background: #efefef;
  --cu-grid-row-gap: .5em;
}

.collection-listing.cu-grid,
.cu-grid--featured,
.cu-list--grid,
.cu-list--grid-compact {
  --cu-grid-row-gap: var(--cu-vr2);
  --cu-grid-column-gap: var(--cu-ps0);

  @include breakpoint(md) {
    --cu-grid-row-gap: var(--cu-vr3);
    --cu-grid-column-gap: var(--cu-ps1);
  }
}

.cu-grid.cu-grid--4col {
  --cu-grid-column-gap: var(--cu-vr0);
}

.cu-list--grid-compact {
  --cu-component-margin-top: var(--cu-vr2);
}

@include breakpoint(md) {
  .cu-grid--courses {
    --cu-grid-row-gap: var(--cu-ps2);
    --cu-grid-column-gap: var(--cu-ps2);
  }
}

.node--course.node--view-mode-teaser h3.cu-heading {
  --cu-font-size: var(--cu-ms5);
}

.cu-heading.cu-heading--label {
  --cu-font-size: var(--cu-ms1);
  --cu-font-weight: 400;
}

.cu-card--teaser, .cu-card--teaser-compact, .cu-card--featured, .localistEvent {
  --cu-font-size: var(--cu-ms-2);

  .cu-heading {
    --cu-font-size: var(--cu-ms0);
    --cu-font-weight: 400;
    --cu-component-margin-bottom: var(--cu-vr-2);
  }

  .field--field-published-date {
    --cu-font-size: var(--cu-ms-4);
    --cu-font-weight: 600;
  }
}

#block-union-marketing-homepage-banner .cu-card--icon {
  --cu-text-color: #{$black};
}

.cu-link--modal {
  --cu-text-color: var(--cu-color-brand);
}

.instagram-post.cu-card--hover-overlay {
  --cu-font-size: var(--cu-ms-1);
}
