{%
  set classes = [
    'cu-component',
    'cu-component--' ~ paragraph.bundle|clean_class,
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
]
%}
<div{{ attributes.addClass(classes) }}>
  {% block content %}
    {% set overlay_body %}
      {{ content.field_body }}
      {% include '@union/_button.twig' with {
        text: content.field_link[0]['#title'],
        url: content.field_link[0]['#url'],
        attributes: { class: ['cu-composite-heading__link', 'cu-button--dark'] }
      } only %}
      <div class="media-wrapper">
        {{ content.field_media }}
      </div>
    {% endset %}

    {% include '@union/_composite-heading.twig' with {
      icon_data: paragraph.cu_icon ? paragraph.cu_icon : NULL,
      eyebrow_heading: content.field_subheading|render|striptags|trim,
      heading: paragraph.field_heading.value,
      heading_element: render_page_heading ? 'h1' : 'h2',
      body: overlay_body,
    } only %}

  {{ content.field_components }}
  {% endblock %}
</div>
