{% if content.field_heading['#items'] is not empty %}
  {% set heading = content.field_heading['#items'].getValue().0.value %}
  {% set subheading = (content.field_subheading['#items'] is not empty)
    ? content.field_subheading['#items'].getValue().0.value|t
    : ''
   %}

  {% include '@union/_section-heading.twig' with {
    attributes: { class: 'cu-section-heading--framed' },
    heading: heading|t,
    subheading: subheading
  } only %}
{% endif %}

<div{{attributes}}>
  {{ content|without('field_heading','field_subheading') }}
</div>

