{#
/**
 * @file
 * Theme override to display a report summary listing.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 * - content: All paragraph items. Use {{ content }} to print them all.
 * - attributes: HTML attributes for the containing element.
 * - view_mode: View mode; for example, "preview" or "full".
 * - carousel_items: Items to display in carousel (set by list_styles behavior).
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'cu-component',
    'cu-component--' ~ paragraph.bundle|clean_class,
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% if carousel_items %}
{% include '@union/_gallery.twig' with {
  title: paragraph.field_heading.value,
  attribution: content.field_body,
  items: carousel_items,
  attributes: attributes.addClass([
    'cu-component',
    'cu-component--' ~ paragraph.bundle|clean_class,
    'cu-gallery--content'
  ])
} only %}
{% else %}
<div{{ attributes.addClass(classes) }}>
  {{ content }}
</div>
{% endif %}
