{% set attributes = attributes.addClass('cu-text') %}
{% if paragraph.field_text_columns.value == '1' %}
  {% set attributes = attributes.addClass('cu-text--2col') %}
{% endif %}

<div{{ attributes }}>
  {{ content }}
</div>
